@model Booking.ViewModels.BilingHotelsViewModels



<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golocal - Travel and Tour Booking Bootstrap 5 template</title>

    <meta name="description" content="Golocal - A premium Bootstrap 5 template crafted for travel and tour booking. Tailored for travel agencies and booking platforms, it features flight, hotel, and tour reservations, and holiday packages.">
    <meta name="keywords" content="travel booking template, tour booking, Bootstrap 5 travel template, Golocal, hotel booking, flights booking, holiday packages, tour agency website, travel agency template, travel HTML template, booking system, responsive travel template, Bootstrap travel website">
    <meta name="author" content="Dreams Technologies">
    <meta name="robots" content="index, follow">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


</head>

<body>

    <div class="main-header">
        <!-- Header Topbar-->
        <div class="header-topbar text-center bg-transparent">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <p class="d-flex align-items-center fw-medium fs-14 mb-2"><i class="isax isax-call5 me-2"></i>Hotline: +84 123456789</p>
                    <div class="d-flex align-items-center">
                        <p class="mb-2 me-3 d-flex align-items-center fw-medium fs-14">
                            <i class="isax isax-message-text-15 me-2"></i>Email : <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                                                     class="__cf_email__"
                                                                                     data-cfemail="0f666169604f6a776e627f636a216c6062">[email&#160;protected]</a>
                        </p>

                        <div class="fav-dropdown mb-2">
                            <a href="wishlist.html" class="position-relative">
                                <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header Topbar-->
        <!-- Header -->
        @await Html.PartialAsync("_patiarialHearder")
        <!-- /Header -->
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-02 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Đặt khách sạn</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Đặt khách sạn</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <!-- Page Wrapper -->
    <div class="content content-two">
        <div class="container">
            <div class="row">

                <!-- Checkout -->
                <div class="col-lg-8">
                    <div class="card checkout-card">
                        <div class="card-header">
                            <h5>Thanh toán an toàn</h5>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="checkout-title">
                                    <h6 class="mb-2">Thông tin liên lạc</h6>
                                </div>
                                <div class="checkout-details pb-2 border-bottom mb-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Email</label>
                                                <input type="email" class="form-control" asp-for="email" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Phone</label>
                                                <input type="text" class="form-control" asp-for="phone" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="checkout-title">
                                    <h6 class="mb-2">Thông tin du lịch</h6>
                                </div>
                                <div class="checkout-details">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Tên</label>
                                                <input type="text" class="form-control"  asp-for="firstName"   readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Họ</label>
                                                <input type="text" class="form-control" asp-for="lastName" readonly >
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Ngày sinh</label>
                                                <input type="date" class="form-control" asp-for="birthday" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Quốc gia</label>
                                                <input type="text" class="form-control" asp-for="zipcode" readonly>
                                            </div>
                                        </div>
                                       
                                       @*  <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Address line 2</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div> *@
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Tỉnh/Thành phố</label>
                                                <input type="text" class="form-control" asp-for="Province" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Huyện</label>
                                                <input type="text" class="form-control" asp-for="District" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Phường</label>
                                                <input type="text" class="form-control"asp-for="Ward" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Địa chỉ</label>
                                                <input type="text" class="form-control"  asp-for="address" readonly> 
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-0">
                                                <label class="form-label">Thông tin bổ sung (Tùy chọn)</label>
                                                <textarea class="form-control" name="optionalInfo" rows="4"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
             @*        <div class="card coupoun">
                        <div class="card-header">
                            <h5>Coupon</h5>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="d-flex align-items-center mb-3">
                                    <input type="text" class="form-control me-2" placeholder="Coupon Code">
                                    <a href="javascript:void(0);" class="btn btn-primary flex-shrink-0">Apply Coupon</a>
                                </div>
                                <div>
                                    <div class="coupoun-list mb-3">
                                        <p class="text-center">Coupon Code <span class="text-gray-9"> Dreams25 ($50) </span> has been applied successfully <a href="javascript:void(0);" class=" ms-2 text-primary text-decoration-underline">Remove</a> </p>
                                    </div>
                                    <div class="coupoun-list-two">
                                        <p class="text-center">Code Invalid <a href="javascript:void(0);" class=" ms-2 text-primary text-decoration-underline">Close</a> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> *@
                    <div class="card payment-details">
                    
                        <div class="card-body">

                        @Html.AntiForgeryToken()

                            <div class="d-flex align-items-center justify-content-end flex-wrap gap-2">
                                <button id="confirmPayBtn" class="btn btn-primary">Xác nhận và thanh toán $@Model.list.Sum(u => u.total) </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Checkout -->
                <!-- Review Order Details -->
                <div class="col-lg-4 theiaStickySidebar">

                    @if (Model.list.Any())
                    {
                        foreach(var item in Model.list)
                        {
                            <div class="card order-details">
                                <div class="card-header">
                                    <div class="d-flex align-items-center justify-content-between header-content">
                                        <h5>Xem lại chi tiết đơn hàng</h5>
                                        <a href="/Home/HotelDetail/@item.HotelID" class="rounded-circle p-2 btn btn-light d-flex align-items-center justify-content-center"><span class="fs-16 d-flex align-items-center justify-content-center"><i class="isax isax-edit-2"></i></span></a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="pb-3 border-bottom">
                                        <div class="mb-3 review-img">
                                            <img src="@item.img" alt="Img" class="img-fluid">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <h6 class="mb-2">@item.NameRoom</h6>
                                                <p class="fs-14 "><span class="badge badge-warning text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Đánh giá)</p>
                                            </div>
                                            <h6 class="fs-14 fw-normal text-gray-9">@item.total VND</h6>
                                        </div>
                                    </div>
                                    <div class="mt-3 border-bottom">
                                        <h6 class="text-primary mb-3">Thông tin đặt hàng</h6>
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h6 class="fs-16">Check In</h6>
                                            <p class="fs-16">@item.checkIn</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h6 class="fs-16">Check Out</h6>
                                            <p class="fs-16">@item.checkOut</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h6 class="fs-16">Người lớn</h6>
                                            <p class="fs-16">@item.Adults</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h6 class="fs-16">Trẻ sơ sinh </h6>
                                            <p class="fs-16">@item.Infants</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h6 class="fs-16">Trẻ em</h6>
                                            <p class="fs-16">@item.Children</p>
                                        </div>
                                    </div>
                                    <div class="mt-3 border-bottom">
                                        <h6 class="text-primary mb-3">Thông tin thanh toán</h6>
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h6 class="fs-16">Tổng cộng</h6>
                                            <p class="fs-16">@item.total VND</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h6 class="fs-16">Thuế (10%)</h6>
                                            <p class="fs-16">@item.Tax VND</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h6 class="fs-16">Phí đặt chỗ</h6>
                                            <p class="fs-16">@item.BookingFees VND</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h6 class="fs-16">Giảm giá (@item.Discount%)</h6>
                                            <p class="fs-16">-@item.Discount VND</p>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h6>Số tiền phải trả</h6>
                                            <h6 class="text-primary">@item.total VND</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
            <!-- /Review Order Details -->

        </div>
    </div>
    <!-- /Page Wrapper -->
    <!-- Booking Success -->
    <div class="modal fade" id="booking-success" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content booking-success-modal">
                <div class="modal-body">
                    <div>
                        <div class="booking-icon text-center mb-3">
                            <img src="~/assets/img/icons/tick-circle.svg" alt="icon" class="img-fluid">
                        </div>
                        <h5 class="text-center mb-3">Thanh toán thành công</h5>
                        <div class="text-center mb-4">
                            <p>Đặt phòng <strong>“Queen Room”</strong> đã thành công với Mã số tham chiếu <span class="text-primary"> #12559845</span></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center ">
                            <a href="/Account/hotelsBooking" class="btn btn-primary d-flex flex-shrink-0">Xem chi tiết đặt phòng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BookingSuccess -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-top">
                <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Pages</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="team.html">Đội ngũ của chúng tôi</a>
                                </li>
                                <li>
                                    <a href="pricing-plan.html">Gói giá</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Settings</a>
                                </li>
                                <li>
                                    <a href="profile-settings.html">Cài đặt</a>
                                </li>
                                <li>
                                    <a href="my-profile.html">Hồ sơ</a>
                                </li>
                                <li>
                                    <a href="agent-listings.html">Danh sách</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Doanh nghiệp</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="about-us.html">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Cơ hội nghề nghiệp</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Blog</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chương trình liên kết</a>
                                </li>
                                <li>
                                    <a href="add-flight.html">Thêm danh sách của bạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Đối tác của chúng tôi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Điểm đến</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="javascript:void(0);">Hawai</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Istanbul</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">San Diego</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Belgium</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Los Angeles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Newyork</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Hỗ trợ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="contact-us.html">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Thông báo pháp lý</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Chính sách quyền riêng tư</a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">Điều khoản và Điều kiện</a>
                                </li>
                                <li>
                                    <a href="chat.html">Hỗ trợ trò chuyện</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chính sách hoàn trả</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Dịch vụ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="hotel-grid.html">Khách sạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Trình tìm kiếm hoạt động</a>
                                </li>
                                <li>
                                    <a href="flight-grid.html">Tìm kiếm chuyến bay</a>
                                </li>
                                <li>
                                    <a href="tour-grid.html">Thuê kỳ nghỉ</a>
                                </li>
                                <li>
                                    <a href="car-grid.html">Thuê xe</a>
                                </li>
                                <li>
                                    <a href="tour-details.html">Gói kỳ nghỉ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-wrap bg-white">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-xl-3 col-xxl-3">
                            <div class="mb-3 text-center text-xl-start">
                                <a href="index.html" class="d-block footer-logo-light">
                                    <img src="~/assets/img/logo-dark.svg" alt="logo">
                                </a>
                                <a href="index.html" class="footer-logo-dark">
                                    <img src="~/assets/img/logo.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 col-xxl-4">
                            <div class="d-flex align-items-center justify-content-center flex-wrap">
                                <h6 class="fs-14 fw-medium me-2 mb-2">Available on : </h6>
                                <a href="javascript:void(0);" class="d-block mb-3 me-2">
                                    <img src="~/assets/img/icons/googleplay.svg" alt="logo">
                                </a>
                                <a href="javascript:void(0);" class="d-block mb-3">
                                    <img src="~/assets/img/icons/appstore.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-5 col-xxl-5">
                            <div class="d-sm-flex align-items-center justify-content-center justify-content-xl-end">
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start me-0 pe-0 me-sm-3 pe-sm-3 border-end mb-3">
                                    <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0">
                                        <i class="ti ti-headphones-filled fs-24"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Chăm sóc khách hàng</p>
                                        <p class="fw-medium text-dark">+84 393771017</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3">
                                    <span class="avatar avatar-lg bg-secondary rounded-circle flex-shrink-0">
                                        <i class="ti ti-message fs-24 text-gray-9"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Gửi email cho chúng tôi</p>
                                        <p class="fw-medium text-dark">
                                            <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="fc95929a93bc99849d918c9099d29f9391">[email&#160;protected]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-img">
                    <img src="~/assets/img/bg/footer.svg" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <p class="fs-14">
                                Copyright &copy; 2025. All Rights Reserved, <a href="javascript:void(0);"
                                                                               class="text-primary fw-medium">Golocal</a>
                            </p>
                            <div class="d-flex align-items-center">
                                <ul class="social-icon">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="card-links">
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-01.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-02.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-03.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-04.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-05.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-06.svg" alt="img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->
    <!-- Cursor -->
    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>
    <!-- /Cursor -->

    <div class="back-to-top">
        <a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>

  
</body>


</html>
<script src="~/assets/js/jquery-3.7.1.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/cute-alert/cute-alert.js"></script>
<link href="~/cute-alert/style.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#confirmPayBtn").click(function (e) {
            e.preventDefault(); // Ngăn trang load lại
            var optionalInfo = $("textarea[name='optionalInfo']").val();
            $('#confirmPayBtn').html('<i class="fa fa-spinner fa-spin"></i> Đang xử lý...').prop('disabled', true);
            $.ajax({
                url: "@Url.Action("ComfirmPay", "Account")", 
                type: "POST",
                data: { optional: optionalInfo },
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                success: function (response) {
                    if (response.success) {

                        $("#booking-success p strong").text(response.roomName);
                        $("#booking-success .text-primary").text("#" + response.referenceNumber);
                       

                        $("#booking-success").modal("show");
                        $("#booking-success").on("hidden.bs.modal", function () {
                            window.location.href = "/account/HotelsBooking";
                        });
                    } else if (response.Notfunds) {
                        Swal.fire({
                            title: 'Thất bại!',
                            text: response.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed || result.isDismissed) {
                                window.location.href = "/account/wallet";
                            }
                        });
                    }else{
                        Swal.fire('Thất bại', response.message, 'error');
                    }
                    $('#confirmPayBtn').html('Confirm & Pay $@Model.list.Sum(u => u.total) ').prop('disabled', false);
                },
                error: function () {
                    $('#confirmPayBtn').html('Confirm & Pay $@Model.list.Sum(u => u.total) ').prop('disabled', false);
                }
            });
          
        });

    });
</script>
