@model List<Booking.ViewModels.HotelBookingViewodels>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golocal - Travel and Tour Booking Bootstrap 5 template</title>

    <meta name="description" content="Golocal - A premium Bootstrap 5 template crafted for travel and tour booking. Tailored for travel agencies and booking platforms, it features flight, hotel, and tour reservations, and holiday packages.">
    <meta name="keywords" content="travel booking template, tour booking, Bootstrap 5 travel template, Golocal, hotel booking, flights booking, holiday packages, tour agency website, travel agency template, travel HTML template, booking system, responsive travel template, Bootstrap travel website">
    <meta name="author" content="Dreams Technologies">
    <meta name="robots" content="index, follow">


</head>

<body>

    <div class="main-header">
        <!-- Header Topbar-->
        <div class="header-topbar text-center bg-transparent">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <p class="d-flex align-items-center fw-medium fs-14 mb-2"><i class="isax isax-call5 me-2"></i>Hotline: +84 123456789</p>
                    <div class="d-flex align-items-center">
                        <p class="mb-2 me-3 d-flex align-items-center fw-medium fs-14">
                            <i class="isax isax-message-text-15 me-2"></i>Email : <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                                                     class="__cf_email__"
                                                                                     data-cfemail="0f666169604f6a776e627f636a216c6062">[email&#160;protected]</a>
                        </p>

                        <div class="fav-dropdown mb-2">
                            <a href="wishlist.html" class="position-relative">
                                <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header Topbar-->
        <!-- Header -->
        @await Html.PartialAsync("_patiarialHearder")
        <!-- /Header -->
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-04 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">My Bookings</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="isax isax-grid-55"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">My Bookings</li>
                            <li class="breadcrumb-item active" aria-current="page">Khách sạn</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">

            <div class="row">

                <!-- Sidebar -->
                <div class="col-xl-3 col-lg-4 theiaStickySidebar">
                    <div class="card user-sidebar mb-4">

                        @if (SignInManager.IsSignedIn(User))
                        {
                            var tien = await UserManager.GetUserAsync(User);
                            <div class="card-header user-sidebar-header">
                                <div class="profile-content rounded-pill">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class=" d-flex align-items-center justify-content-center">
                                            <img src="@tien.img" alt="image" class="img-fluid avatar avatar-lg rounded-circle me-1">
                                            <div>
                                                <h6 class="fs-16">@tien.UserName</h6>
                                                <span class="fs-14 text-gray-6">@tien.joinin</span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex align-items-center justify-content-center">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }




                        <div class="card-body user-sidebar-body">
                            <ul>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Chính</span>
                                </li>
                                <li>
                                    <a href="/account" class="d-flex align-items-center ">
                                        <i class="isax isax-grid-55"></i> Bảng điều khiển
                                    </a>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="d-block"><i class="isax isax-calendar-tick5"></i><span>My Bookings</span><span class="menu-arrow"></span></a>
                                    <ul>
                                        @* <li>
                                        <a href="customer-flight-booking.html" class="fs-14 d-inline-flex align-items-center">Flights</a>
                                        </li> *@
                                        <li>
                                            <a href="/account/HotelsBooking" class="fs-14 d-inline-flex align-items-center active">Khách sạn</a>
                                        </li>
                                        @*  <li>
                                        <a href="customer-car-booking.html" class="fs-14 d-inline-flex align-items-center">Cars</a>
                                        </li>
                                        <li>
                                        <a href="customer-cruise-booking.html" class="fs-14 d-inline-flex align-items-center">Cruise</a>
                                        </li> *@
                                        <li>
                                            <a href="/account/tourBooking" class="fs-14 d-inline-flex align-items-center">Tour du lịch</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/account/review" class="d-flex align-items-center">
                                        <i class="isax isax-magic-star5"></i> Đánh giá
                                    </a>
                                </li>
                                @* <li>
                                <div class="message-content">
                                <a href="chat.html" class="d-flex align-items-center">
                                <i class="isax isax-message-square5"></i> Messages
                                </a>
                                <span class="msg-count rounded-circle">02</span>
                                </div>
                                </li> *@
                                <li class="mb-2">
                                    <a href="/account/Wishlist" class="d-flex align-items-center">
                                        <i class="isax isax-heart5"></i> Danh sách mong muốn
                                    </a>
                                </li>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Tài chính</span>
                                </li>
                                <li>
                                    <a href="/account/wallet" class="d-flex align-items-center ">
                                        <i class="isax isax-wallet-add-15"></i> Ví
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a href="/account/payment" class="d-flex align-items-center">
                                        <i class="isax isax-money-recive5"></i> Thanh toán
                                    </a>
                                </li>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Tài khoản</span>
                                </li>
                                <li>
                                    <a href="/account/profile" class="d-flex align-items-center">
                                        <i class="isax isax-profile-tick5"></i> Hồ sơ
                                    </a>
                                </li>
                                @*    <li>
                                <div class="message-content">
                                <a href="notification.html" class="d-flex align-items-center">
                                <i class="isax isax-notification-bing5"></i> Notifications
                                </a>
                                <span class="msg-count bg-purple rounded-circle">05</span>
                                </div>
                                </li> *@
                                <li>
                                    <a href="/account/settings" class="d-flex align-items-center">
                                        <i class="isax isax-setting-25"></i> Cài đặt
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Logout" class="d-flex align-items-center pb-0">
                                        <i class="isax isax-logout-15"></i> Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Sidebar -->
                <!-- Hotel Booking -->
                <div class="col-xl-9 col-lg-9 theiaStickySidebar">

                    <!-- Booking Header -->
                    <div class="card booking-header">
                        <div class="card-body header-content d-flex align-items-center justify-content-between flex-wrap ">
                            <div>
                                <h6>Khách sạn</h6>
                                <p class="fs-14 text-gray-6 fw-normal ">Số lượng đặt : 40</p>
                            </div>

                            <div class="d-flex align-items-center flex-wrap">
                                <div class="input-icon-start  me-3 position-relative">
                                    <span class="icon-addon">
                                        <i class="isax isax-calendar-edit fs-14"></i>
                                    </span>
                                    <input type="text" class="form-control date-range bookingrange" placeholder="Select" value="Niên khoá : 2024 / 2025">
                                </div>
                                <div class="dropdown ">
                                    <a href="javascript:void(0);" class="dropdown-toggle btn border text-gray-6 rounded  fw-normal fs-14 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                        <i class="ti ti-file-export me-2 fs-14 text-gray-6"></i>Xuất
                                    </a>
                                    <ul class="dropdown-menu  dropdown-menu-end p-3">
                                        <li>
                                            <a href="javascript:void(0);" class="dropdown-item rounded-1"><i class="ti ti-file-type-pdf me-1"></i>Xuất file PDF</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="dropdown-item rounded-1"><i class="ti ti-file-type-xls me-1"></i>Xuất file Excel</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Booking Header -->
                    <!-- Hotel-Booking List -->
                    <div class="card hotel-list">
                        <div class="card-body p-0">
                            <div class="list-header d-flex align-items-center justify-content-between flex-wrap">
                                <h6 class="">Danh sách đặt</h6>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="input-icon-start  me-2 position-relative">
                                        <span class="icon-addon">
                                            <i class="isax isax-search-normal-1 fs-14"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <div class="dropdown me-3">
                                        <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                            Kiểu phòng
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end p-3">
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Single Room</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Double Room</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Twin Room</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown me-3">
                                        <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                            Trạng thái
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end p-3">
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Upcoming</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Cancelled</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Completed</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="d-flex align-items-center sort-by">
                                        <span class="fs-14 text-gray-9 fw-medium">Sort By :</span>
                                        <div class="dropdown">
                                            <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn rounded d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                                Khuyến khích
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end p-3">
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">Recently Added</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">Ascending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">Desending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">Last Month</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">Last 7 Days</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Hotel List -->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Khách sạn</th>
                                            <th>Phòng & Khách</th>
                                            <th>Ngày</th>
                                            <th>Giá</th>
                                            <th>Đã đặt vào</th>
                                            <th>Trạng thái</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.Any())
                                        {
                                            
                                                var count = 0;
                                            
                                            foreach(var item in Model){
                                                count++;
                                                <tr>
                                                    <td>@count</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <a href="/home/HotelDetail/@item.hotelID" class="avatar avatar-lg"><img src="@item.img" class="img-fluid rounded-circle" alt="img"></a>
                                                    <div class="ms-2">
                                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="/Home/HotelDetail/@item.hotelID">@item.HotelName</a></p>
                                                        <span class="fs-14 fw-normal text-gray-6">@item.location</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="fs-14 mb-1">@item.RomeName</h6>
                                                <span class="fs-14 fw-normal text-gray-6">@item.Guest</span>
                                            </td>
                                            <td>@item.date</td>
                                            <td>@item.price VND</td>
                                            <td>@item.Booked</td>
                                           @*  <td>
                                                <span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Upcoming</span>
                                            </td> *@
                                            <td>
                                                @Html.Raw(item.status)
                                            </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <a href="/account/invoices/@item.OrderID"><i class="isax isax-eye"></i></a>
                                                        </div>
                                                    </td>
                                        </tr>
                                            }
                                        }
                                     
                                        

                                    </tbody>
                                </table>
                            </div>
                            <!-- /Hotel List -->

                        </div>
                    </div>
                    <!-- /Hotel-Booking List -->
                    <!-- Pagination -->
                    <div class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3">
                        <div class="value d-flex align-items-center">
                            <span>Show</span>
                            <select>
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                            </select>
                            <span>mục</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="javascript:void(0);"><span class="me-3"><i class="isax isax-arrow-left-2"></i></span></a>
                            <nav aria-label="Page navigation">
                                <ul class="paginations d-flex justify-content-center align-items-center">
                                    <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="javascript:void(0);">1</a></li>
                                    <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">2</a></li>
                                    <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">3</a></li>
                                </ul>
                            </nav>
                            <a href="javascript:void(0);"><span class="ms-3"><i class="isax isax-arrow-right-3"></i></span></a>
                        </div>
                    </div>
                    <!-- /Pagination -->
                </div>
                <!-- /Hotel Booking -->
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-top">
                <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Pages</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="team.html">Đội ngũ của chúng tôi</a>
                                </li>
                                <li>
                                    <a href="pricing-plan.html">Gói giá</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Settings</a>
                                </li>
                                <li>
                                    <a href="profile-settings.html">Cài đặt</a>
                                </li>
                                <li>
                                    <a href="my-profile.html">Hồ sơ</a>
                                </li>
                                <li>
                                    <a href="agent-listings.html">Danh sách</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Doanh nghiệp</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="about-us.html">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Cơ hội nghề nghiệp</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Blog</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chương trình liên kết</a>
                                </li>
                                <li>
                                    <a href="add-flight.html">Thêm danh sách của bạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Đối tác của chúng tôi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Điểm đến</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="javascript:void(0);">Hawai</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Istanbul</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">San Diego</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Belgium</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Los Angeles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Newyork</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Hỗ trợ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="contact-us.html">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Thông báo pháp lý</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Chính sách quyền riêng tư</a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">Điều khoản và Điều kiện</a>
                                </li>
                                <li>
                                    <a href="chat.html">Hỗ trợ trò chuyện</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chính sách hoàn trả</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Dịch vụ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="hotel-grid.html">Khách sạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Trình tìm kiếm hoạt động</a>
                                </li>
                                <li>
                                    <a href="flight-grid.html">Tìm kiếm chuyến bay</a>
                                </li>
                                <li>
                                    <a href="tour-grid.html">Thuê kỳ nghỉ</a>
                                </li>
                                <li>
                                    <a href="car-grid.html">Thuê xe</a>
                                </li>
                                <li>
                                    <a href="tour-details.html">Gói kỳ nghỉ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-wrap bg-white">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-xl-3 col-xxl-3">
                            <div class="mb-3 text-center text-xl-start">
                                <a href="index.html" class="d-block footer-logo-light">
                                    <img src="~/assets/img/logo-dark.svg" alt="logo">
                                </a>
                                <a href="index.html" class="footer-logo-dark">
                                    <img src="~/assets/img/logo.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 col-xxl-4">
                            <div class="d-flex align-items-center justify-content-center flex-wrap">
                                <h6 class="fs-14 fw-medium me-2 mb-2">Available on : </h6>
                                <a href="javascript:void(0);" class="d-block mb-3 me-2">
                                    <img src="~/assets/img/icons/googleplay.svg" alt="logo">
                                </a>
                                <a href="javascript:void(0);" class="d-block mb-3">
                                    <img src="~/assets/img/icons/appstore.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-5 col-xxl-5">
                            <div class="d-sm-flex align-items-center justify-content-center justify-content-xl-end">
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start me-0 pe-0 me-sm-3 pe-sm-3 border-end mb-3">
                                    <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0">
                                        <i class="ti ti-headphones-filled fs-24"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Chăm sóc khách hàng</p>
                                        <p class="fw-medium text-dark">+84 393771017</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3">
                                    <span class="avatar avatar-lg bg-secondary rounded-circle flex-shrink-0">
                                        <i class="ti ti-message fs-24 text-gray-9"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Gửi email cho chúng tôi</p>
                                        <p class="fw-medium text-dark">
                                            <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="fc95929a93bc99849d918c9099d29f9391">[email&#160;protected]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-img">
                    <img src="~/assets/img/bg/footer.svg" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <p class="fs-14">
                                Copyright &copy; 2025. All Rights Reserved, <a href="javascript:void(0);"
                                                                               class="text-primary fw-medium">Golocal</a>
                            </p>
                            <div class="d-flex align-items-center">
                                <ul class="social-icon">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="card-links">
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-01.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-02.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-03.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-04.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-05.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-06.svg" alt="img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->
    <!-- Upcoming Modal -->
    <div class="modal fade" id="upcoming" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Booking Info <span class="fs-14 fw-medium text-primary">#HB-1245</span></h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn-close text-dark"></a>
                </div>
                <div class="modal-body">
                    <div class="upcoming-content">
                        <div class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="me-2">
                                    <img src="~/assets/img/hotels/hotel-13.jpg" alt="image" class="avatar avartar-md avatar-rounded">
                                </div>
                                <div>
                                    <h6 class="mb-1">The Luxe Haven</h6>
                                    <div class="title-list">
                                        <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-building me-2"></i>Luxury Hotel</p>
                                        <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-location5 me-2"></i>15/C Prince Dareen Road, New York</p>
                                        <p class="d-flex align-items-center pe-2 me-2  fw-normal"><span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Reviews)</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Upcoming</span>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Room Details</h6>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Room Type</h6>
                                    <p class="text-gray-6 fs-16 ">Queen Room</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">No of Rooms</h6>
                                    <p class="text-gray-6 fs-16 ">1</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Room Price</h6>
                                    <p class="text-gray-6 fs-16 ">$400</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Guests</h6>
                                    <p class="text-gray-6 fs-16 ">4 Adults, 2 Child</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Booking Info</h6>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Booked On</h6>
                                    <p class="text-gray-6 fs-16 ">15 May 2024</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Check In Date & Time</h6>
                                    <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Checkout Date & Time</h6>
                                    <p class="text-gray-6 fs-16 ">25 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">No of Days Stay</h6>
                                    <p class="text-gray-6 fs-16 ">4 Days, 5 Nights</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Extra Service Info</h6>
                            <div class="d-flex align-items-center">
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Cleaning</span>
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Airport Pickup</span>
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14">Breakfast</span>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Billing Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Name</h6>
                                    <p class="text-gray-6 fs-16 ">Chris Foxy</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Email</h6>
                                    <p class="text-gray-6 fs-16 "><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="43202b31252c7170767503263b222e332f266d202c2e">[email&#160;protected]</a></p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Phone</h6>
                                    <p class="text-gray-6 fs-16 ">+1 12656 26654</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Address</h6>
                                    <p class="text-gray-6 fs-16 ">15/C Prince Dareen Road, New York</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Order Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Order Id</h6>
                                    <p class="text-primary fs-16 ">#45669</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Payment Method</h6>
                                    <p class="text-gray-6 fs-16 ">Credit Card (Visa)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Payment Status</h6>
                                    <p class="text-success fs-16 ">Paid</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Date of Payment</h6>
                                    <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Tax</h6>
                                    <p class="text-gray-6 fs-16 ">15% ($60)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Discount</h6>
                                    <p class="text-gray-6 fs-16 ">20% ($15)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Booking Fees</h6>
                                    <p class="text-gray-6 fs-16 ">$25</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Total Paid</h6>
                                    <p class="text-gray-6 fs-16 ">$6569</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#cancel-booking">Cancel Booking</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Upcoming Modal -->
    <!-- Pending Modal -->
    <div class="modal fade" id="pending" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Booking Info <span class="fs-14 fw-medium text-primary">#HB-1245</span></h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn-close text-dark"></a>
                </div>
                <div class="modal-body">
                    <div class="upcoming-content">
                        <div class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="me-2">
                                    <img src="~/assets/img/hotels/hotel-13.jpg" alt="image" class="avatar avartar-md avatar-rounded">
                                </div>
                                <div>
                                    <h6 class="mb-1">The Luxe Haven</h6>
                                    <div class="title-list">
                                        <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-building me-2"></i>Luxury Hotel</p>
                                        <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-location5 me-2"></i>15/C Prince Dareen Road, New York</p>
                                        <p class="d-flex align-items-center pe-2 me-2  fw-normal"><span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Reviews)</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span class="badge badge-secondary rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Pending</span>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Room Details</h6>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Room Type</h6>
                                    <p class="text-gray-6 fs-16 ">Queen Room</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">No of Rooms</h6>
                                    <p class="text-gray-6 fs-16 ">1</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Room Price</h6>
                                    <p class="text-gray-6 fs-16 ">$400</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Guests</h6>
                                    <p class="text-gray-6 fs-16 ">4 Adults, 2 Child</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Booking Info</h6>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Booked On</h6>
                                    <p class="text-gray-6 fs-16 ">15 May 2024</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Check In Date & Time</h6>
                                    <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Checkout Date & Time</h6>
                                    <p class="text-gray-6 fs-16 ">25 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">No of Days Stay</h6>
                                    <p class="text-gray-6 fs-16 ">4 Days, 5 Nights</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Extra Service Info</h6>
                            <div class="d-flex align-items-center">
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Cleaning</span>
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Airport Pickup</span>
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14">Breakfast</span>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Billing Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Name</h6>
                                    <p class="text-gray-6 fs-16 ">Chris Foxy</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Email</h6>
                                    <p class="text-gray-6 fs-16 "><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="781b100a1e174a4b4d4e381d00191508141d561b1715">[email&#160;protected]</a></p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Phone</h6>
                                    <p class="text-gray-6 fs-16 ">+1 12656 26654</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Address</h6>
                                    <p class="text-gray-6 fs-16 ">15/C Prince Dareen Road, New York</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Order Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Order Id</h6>
                                    <p class="text-primary fs-16 ">#45669</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Payment Method</h6>
                                    <p class="text-gray-6 fs-16 ">Credit Card (Visa)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Payment Status</h6>
                                    <p class="text-success fs-16 ">Paid</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Date of Payment</h6>
                                    <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Tax</h6>
                                    <p class="text-gray-6 fs-16 ">15% ($60)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Discount</h6>
                                    <p class="text-gray-6 fs-16 ">20% ($15)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Booking Fees</h6>
                                    <p class="text-gray-6 fs-16 ">$25</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Total Paid</h6>
                                    <p class="text-gray-6 fs-16 ">$6569</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#cancel-booking">Cancel Booking</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Pending Modal -->
    <!-- Completed Modal -->
    <div class="modal fade" id="completed" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Booking Info <span class="fs-14 fw-medium text-primary">#HB-1245</span></h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn-close text-dark"></a>
                </div>
                <div class="modal-body">
                    <div class="upcoming-content">
                        <div class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="me-2">
                                    <img src="~/assets/img/hotels/hotel-13.jpg" alt="image" class="avatar avartar-md avatar-rounded">
                                </div>
                                <div>
                                    <h6 class="mb-1">The Luxe Haven</h6>
                                    <div class="title-list">
                                        <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-building me-2"></i>Luxury Hotel</p>
                                        <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-location5 me-2"></i>15/C Prince Dareen Road, New York</p>
                                        <p class="d-flex align-items-center pe-2 me-2  fw-normal"><span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Reviews)</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Completed</span>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Room Details</h6>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Room Type</h6>
                                    <p class="text-gray-6 fs-16 ">Queen Room</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">No of Rooms</h6>
                                    <p class="text-gray-6 fs-16 ">1</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Room Price</h6>
                                    <p class="text-gray-6 fs-16 ">$400</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Guests</h6>
                                    <p class="text-gray-6 fs-16 ">4 Adults, 2 Child</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Booking Info</h6>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Booked On</h6>
                                    <p class="text-gray-6 fs-16 ">15 May 2024</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Check In Date & Time</h6>
                                    <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Checkout Date & Time</h6>
                                    <p class="text-gray-6 fs-16 ">25 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">No of Days Stay</h6>
                                    <p class="text-gray-6 fs-16 ">4 Days, 5 Nights</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Extra Service Info</h6>
                            <div class="d-flex align-items-center">
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Cleaning</span>
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Airport Pickup</span>
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14">Breakfast</span>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Billing Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Name</h6>
                                    <p class="text-gray-6 fs-16 ">Chris Foxy</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Email</h6>
                                    <p class="text-gray-6 fs-16 "><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="24474c56424b1617111264415c45495448410a474b49">[email&#160;protected]</a></p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Phone</h6>
                                    <p class="text-gray-6 fs-16 ">+1 12656 26654</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Address</h6>
                                    <p class="text-gray-6 fs-16 ">15/C Prince Dareen Road, New York</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Order Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Order Id</h6>
                                    <p class="text-primary fs-16 ">#45669</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Payment Method</h6>
                                    <p class="text-gray-6 fs-16 ">Credit Card (Visa)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Payment Status</h6>
                                    <p class="text-success fs-16 ">Paid</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Date of Payment</h6>
                                    <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Tax</h6>
                                    <p class="text-gray-6 fs-16 ">15% ($60)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Discount</h6>
                                    <p class="text-gray-6 fs-16 ">20% ($15)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Booking Fees</h6>
                                    <p class="text-gray-6 fs-16 ">$25</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Total Paid</h6>
                                    <p class="text-gray-6 fs-16 ">$6569</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="hotel-details.html" class="btn btn-md btn-primary">Book Again</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Completed Modal -->
    <!-- Cancelled Modal -->
    <div class="modal fade" id="cancelled" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Booking Info <span class="fs-14 fw-medium text-primary">#HB-1245</span></h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn-close text-dark"></a>
                </div>
                <div class="modal-body">
                    <div class="upcoming-content">
                        <div class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="me-2">
                                    <img src="~/assets/img/hotels/hotel-13.jpg" alt="image" class="avatar avartar-md avatar-rounded">
                                </div>
                                <div>
                                    <h6 class="mb-1">The Luxe Haven</h6>
                                    <div class="title-list">
                                        <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-building me-2"></i>Luxury Hotel</p>
                                        <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-location5 me-2"></i>15/C Prince Dareen Road, New York</p>
                                        <p class="d-flex align-items-center pe-2 me-2  fw-normal"><span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Reviews)</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span class="badge badge-danger rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Cancelled</span>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Room Details</h6>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Room Type</h6>
                                    <p class="text-gray-6 fs-16 ">Queen Room</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">No of Rooms</h6>
                                    <p class="text-gray-6 fs-16 ">1</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Room Price</h6>
                                    <p class="text-gray-6 fs-16 ">$400</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Guests</h6>
                                    <p class="text-gray-6 fs-16 ">4 Adults, 2 Child</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Booking Info</h6>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Booked On</h6>
                                    <p class="text-gray-6 fs-16 ">15 May 2024</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Check In Date & Time</h6>
                                    <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Checkout Date & Time</h6>
                                    <p class="text-gray-6 fs-16 ">25 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">No of Days Stay</h6>
                                    <p class="text-gray-6 fs-16 ">4 Days, 5 Nights</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Extra Service Info</h6>
                            <div class="d-flex align-items-center">
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Cleaning</span>
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Airport Pickup</span>
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14">Breakfast</span>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Billing Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Name</h6>
                                    <p class="text-gray-6 fs-16 ">Chris Foxy</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Email</h6>
                                    <p class="text-gray-6 fs-16 "><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="197a716b7f762b2a2c2f597c61787469757c377a7674">[email&#160;protected]</a></p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Phone</h6>
                                    <p class="text-gray-6 fs-16 ">+1 12656 26654</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Address</h6>
                                    <p class="text-gray-6 fs-16 ">15/C Prince Dareen Road, New York</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Order Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Order Id</h6>
                                    <p class="text-primary fs-16 ">#45669</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Payment Method</h6>
                                    <p class="text-gray-6 fs-16 ">Credit Card (Visa)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Payment Status</h6>
                                    <p class="text-success fs-16 ">Paid</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Date of Payment</h6>
                                    <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Tax</h6>
                                    <p class="text-gray-6 fs-16 ">15% ($60)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Discount</h6>
                                    <p class="text-gray-6 fs-16 ">20% ($15)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Booking Fees</h6>
                                    <p class="text-gray-6 fs-16 ">$25</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Total Paid</h6>
                                    <p class="text-gray-6 fs-16 ">$6569</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details mb-0">
                            <h6 class="mb-2">Cancel Reason</h6>
                            <div class="row">
                                <div class="col-lg-5">
                                    <h6 class="fs-14">Reason</h6>
                                    <p class="text-gray-6 fs-16 ">Illness or medical appointments that prevent travel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="hotel-details.html" class="btn btn-md btn-primary">Reschedule</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Cancelled Modal -->
    <!-- Booking Cancel -->
    <div class="modal fade" id="cancel-booking">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-5">
                    <form action="customer-hotel-booking.html">
                        <div class="text-center">
                            <div class="mb-4">
                                <i class="isax isax-location-cross5 text-danger fs-40"></i>
                            </div>
                            <h5 class="mb-2">Are you sure you want to cancel booking?</h5>
                            <p class="mb-4 text-gray-9">Order ID : <span class="text-primary">#HB-1245</span></p>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Reason <span class="text-danger">*</span></label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">No, Dont Cancel</a>
                            <button type="submit" class="btn btn-primary">Yes, Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Booking Cancel -->
    <!-- Cursor -->
    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>
    <!-- /Cursor -->

    <div class="back-to-top">
        <a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>


</body>

</html>