@model Booking.ViewModels.walletViewModels

@{
    Layout = null; 
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamsTour - Travel and Tour Booking Bootstrap 5 template</title>

    <meta name="description" content="DreamsTour - A premium Bootstrap 5 template crafted for travel and tour booking. Tailored for travel agencies and booking platforms, it features flight, hotel, and tour reservations, and holiday packages.">
    <meta name="keywords" content="travel booking template, tour booking, Bootstrap 5 travel template, DreamsTour, hotel booking, flights booking, holiday packages, tour agency website, travel agency template, travel HTML template, booking system, responsive travel template, Bootstrap travel website">
    <meta name="author" content="Dreams Technologies">
    <meta name="robots" content="index, follow">
    <!-- Apple Touch Icon -->
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/apple-touch-icon.png">

    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">

    <!-- Theme Settings Js -->
    <script src="~/assets/js/theme-script.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Main.css -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="~/assets/plugins/tabler-icons/tabler-icons.css">

    <!-- Fontawesome Icon CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fancybox/jquery.fancybox.min.css">

    <!-- Owlcarousel CSS -->
    <link rel="stylesheet" href="~/assets/plugins/owlcarousel/owl.carousel.min.css">

    <!-- Iconsax CSS -->
    <link rel="stylesheet" href="~/assets/css/iconsax.css">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Datatable CSS -->
    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap5.min.css">

    <!-- Daterangepikcer CSS -->
    <link rel="stylesheet" href="~/assets/plugins/daterangepicker/daterangepicker.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>

    <div class="main-header">
        <!-- Header Topbar-->
        <div class="header-topbar text-center bg-transparent">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <p class="d-flex align-items-center fw-medium fs-14 mb-2"><i class="isax isax-call5 me-2"></i>Toll Free : +1 56565 56594</p>
                    <div class="d-flex align-items-center">
                        <p class="mb-2 me-3 d-flex align-items-center fw-medium fs-14"><i class="isax isax-message-text-15 me-2"></i>Email : <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="20494e464f604558414d504c450e434f4d">[email&#160;protected]</a></p>
                        <div class="dropdown flag-dropdown mb-2 me-3">
                            <a href="javascript:void(0);" class="dropdown-toggle d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/assets/img/flags/us-flag.svg" class="me-2" alt="flag">ENG
                            </a>
                            <ul class="dropdown-menu p-2 mt-2">
                                <li>
                                    <a class="dropdown-item rounded d-flex align-items-center" href="javascript:void(0);">
                                        <img src="~/assets/img/flags/us-flag.svg" class="me-2" alt="flag">ENG
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item rounded d-flex align-items-center" href="javascript:void(0);">
                                        <img src="~/assets/img/flags/arab-flag.svg" class="me-2" alt="flag">ARA
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item rounded d-flex align-items-center" href="javascript:void(0);">
                                        <img src="~/assets/img/flags/france-flag.svg" class="me-2" alt="flag">FRA
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown mb-2 me-3">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                USD
                            </a>
                            <ul class="dropdown-menu p-2 mt-2">
                                <li><a class="dropdown-item rounded" href="javascript:void(0);">USD</a></li>
                                <li><a class="dropdown-item rounded" href="javascript:void(0);">YEN</a></li>
                                <li><a class="dropdown-item rounded" href="javascript:void(0);">EURO</a></li>
                            </ul>
                        </div>
                        <div class="fav-dropdown mb-2">
                            <a href="wishlist.html" class="position-relative">
                                <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header Topbar-->
        <!-- Header -->
        @await Html.PartialAsync("_patiarialHearder")
        <!-- /Header -->
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Wallet</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Wallet</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">

            <div class="row">

                <!-- Sidebar -->
                <div class="col-xl-3 col-lg-4 theiaStickySidebar">
                    <div class="card user-sidebar mb-4 mb-lg-0">
                        <div class="card-header user-sidebar-header">
                            <div class="profile-content rounded-pill">
                                <div class="d-flex align-items-center justify-content-between ">
                                    <div class=" d-flex align-items-center justify-content-center ">
                                        <img src="~/assets/img/users/user-01.jpg" alt="image" class="img-fluid avatar avatar-lg rounded-circle flex-shrink-0 me-1">
                                        <div>
                                            <h6 class="fs-16">Jeffrey Wilson</h6>
                                            <span class="fs-14 text-gray-6">Since 10 May 2025</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <a href="profile-settings.html" class="p-1 rounded-circle btn btn-light d-flex align-items-center justify-content-center"><i class="isax isax-edit-2 fs-14"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body user-sidebar-body">
                            <ul>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Main</span>
                                </li>
                                <li>
                                    <a href="/account" class="d-flex align-items-center">
                                        <i class="isax isax-grid-55"></i> Dashboard
                                    </a>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="d-block"><i class="isax isax-calendar-tick5"></i><span>My Bookings</span><span class="menu-arrow"></span></a>
                                    <ul>
                                        @* <li>
                                        <a href="customer-flight-booking.html" class="fs-14 d-inline-flex align-items-center">Flights</a>
                                        </li> *@
                                        <li>
                                            <a href="/account/hotelBooking" class="fs-14 d-inline-flex align-items-center">Hotels</a>
                                        </li>
                                        @*  <li>
                                        <a href="customer-car-booking.html" class="fs-14 d-inline-flex align-items-center">Cars</a>
                                        </li>
                                        <li>
                                        <a href="customer-cruise-booking.html" class="fs-14 d-inline-flex align-items-center">Cruise</a>
                                        </li> *@
                                        <li>
                                            <a href="/account/tourBooking" class="fs-14 d-inline-flex align-items-center">Tour</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/account/review" class="d-flex align-items-center">
                                        <i class="isax isax-magic-star5"></i> My Reviews
                                    </a>
                                </li>
                                @* <li>
                                <div class="message-content">
                                <a href="chat.html" class="d-flex align-items-center">
                                <i class="isax isax-message-square5"></i> Messages
                                </a>
                                <span class="msg-count rounded-circle">02</span>
                                </div>
                                </li> *@
                                <li class="mb-2">
                                    <a href="/account/Wishlist" class="d-flex align-items-center">
                                        <i class="isax isax-heart5"></i> Wishlist
                                    </a>
                                </li>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Finance</span>
                                </li>
                                <li>
                                    <a href="/account/wallet" class="d-flex align-items-center active">
                                        <i class="isax isax-wallet-add-15"></i> Wallet
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a href="/account/payment" class="d-flex align-items-center">
                                        <i class="isax isax-money-recive5"></i> Payments
                                    </a>
                                </li>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Account</span>
                                </li>
                                <li>
                                    <a href="/account/profile" class="d-flex align-items-center">
                                        <i class="isax isax-profile-tick5"></i> My Profile
                                    </a>
                                </li>
                                @*    <li>
                                <div class="message-content">
                                <a href="notification.html" class="d-flex align-items-center">
                                <i class="isax isax-notification-bing5"></i> Notifications
                                </a>
                                <span class="msg-count bg-purple rounded-circle">05</span>
                                </div>
                                </li> *@
                                <li>
                                    <a href="/account/settings" class="d-flex align-items-center">
                                        <i class="isax isax-setting-25"></i> Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Logout" class="d-flex align-items-center pb-0">
                                        <i class="isax isax-logout-15"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Sidebar -->
                <!-- Wallet -->
                <div class="col-xl-9 col-lg-8">
                    <div class="row">

                        <!-- Wallet List -->
                        <div class="col-xl-5 col-lg-12 d-flex">
                            <div class="row flex-fill">
                                <div class="col-xl-6 col-lg-6 col-md-6  d-flex">
                                    <div class="card shadow-none mb-4 flex-fill">
                                        <div class="card-body">
                                            <span class="avatar avatar-lg rounded-circle bg-primary mb-3"><i class="isax isax-calendar-15 text-white"></i></span>
                                            <div class="mb-3">
                                                <p class="mb-0 text-truncate line-ellipsis-2">Wallet Balance</p>
                                                <h4>$@Model.tien</h4>
                                            </div>
                                           @*  <p class="fs-14"><span class="text-teal fw-medium">+8%</span> last Month</p> *@
                                        </div>
                                    </div>
                                </div>
                            @*     <div class="col-xl-6 col-lg-6 col-md-6  d-flex">
                                    <div class="card shadow-none mb-4 flex-fill">
                                        <div class="card-body">
                                            <span class="avatar avatar-lg rounded-circle bg-secondary mb-3"><i class="isax isax-money-send5 text-white"></i></span>
                                            <div class="mb-3">
                                                <p class="mb-0 text-truncate line-ellipsis-2">Total Credit</p>
                                                <h4>$15659</h4>
                                            </div>
                                            <p class="fs-14"><span class="text-danger fw-medium">-6%</span> last Month</p>
                                        </div>
                                    </div>
                                </div> *@
                            @*     <div class="col-xl-6 col-lg-6 col-md-6  d-flex">
                                    <div class="card shadow-none mb-4 flex-fill">
                                        <div class="card-body">
                                            <span class="avatar avatar-lg rounded-circle bg-purple mb-3"><i class="isax isax-money-time5 text-white"></i></span>
                                            <div class="mb-3">
                                                <h4>$16598</h4>
                                                <p class="mb-0">Total Debit</p>
                                            </div>
                                            <p class="fs-14"><span class="text-teal fw-medium">+9%</span> last Month</p>
                                        </div>
                                    </div>
                                </div> *@
                                <div class="col-xl-6 col-lg-6 col-md-6  d-flex">
                                    <div class="card shadow-none mb-4 flex-fill">
                                        <div class="card-body">
                                            <span class="avatar avatar-lg rounded-circle bg-teal mb-3"><i class="isax isax-money-time5 text-white"></i></span>
                                            <div class="mb-3">
                                                <h4>@Model.numberTrans</h4>
                                                <p class="mb-0">Transactions</p>
                                            </div>
                                         @*    <p class="fs-14"><span class="text-teal fw-medium">+7%</span> last Month</p> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Wallet List -->
                        <!-- Wallet -->
                        <div class="col-xl-7 col-lg-12 d-flex">
                            <div class="card payment-details flex-fill mb-4">
                                <div class="card-header">
                                    <h5>Wallet</h5>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        @Html.AntiForgeryToken()
                                        <label class="form-label">Add Amount</label>
                                        <input type="number" class="form-control" id="numOrder">
                                    </div>
                                    <div class="tab-pane fade active show" id="wallet">
                                        <div class="d-flex align-items-center  flex-wrap mb-1">
                                            <h6 class="fs-16 me-3 mb-2">Payment Type</h6>
                                            <div class="d-flex align-items-center flex-wrap payment-form">
                                                <div class="form-check d-flex align-items-center me-3 mb-2">
                                                    <input class="form-check-input mt-0" type="radio" name="Radio" id="credit-card" value="credit-card" checked>
                                                    <label class="form-check-label fs-14 ms-2" for="credit-card">
                                                       Online Banking
                                                    </label>
                                                </div>
                                  
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-end">
                                            <button id="btnDeposit" type="button" class="btn btn-primary">Add Payment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Wallet -->

                    </div>

                    <!-- Transactions -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center flex-wrap row-gap-3">
                                <div>
                                    <h6>Transactions</h6>
                                    <p class="fs-14">No of Transactions : @Model.numberTrans</p>
                                </div>
                                <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                                    <div class="input-icon-end position-relative">
                                        <span class="input-icon-addon">
                                            <i class="isax isax-calendar-edit"></i>
                                        </span>
                                        <input type="text" class="form-control date-range bookingrange" placeholder="dd/mm/yyyy - dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Transactions -->



                    <!-- Transactions List -->

                    @if (Model.list.Any())
                    {
                        <div class="card hotel-list mb-0">
                            <div class="card-body p-0">
                                <div class="list-header d-flex align-items-center justify-content-between flex-wrap">
                                    <h6>Transactions List</h6>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="input-icon-start  me-2 position-relative">
                                            <span class="icon-addon">
                                                <i class="isax isax-search-normal-1 fs-14"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Search">
                                        </div>
                                        <div class="dropdown me-3">
                                            <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                                Status
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end p-3">
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">Completed</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">Pending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">Cancelled</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Payment Type</th>
                                                <th>Type</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Balance</th>
                                                <th>Status</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach(var item in Model.list)
                                            {
                                                <tr>
                                                    <td class="text-gray-9 fw-medium">@item.paymentType</td>
                                                    <td>@item.type</td>
                                                    <td>@item.time</td>
                                                    <td>
                                                        @if (item.amount >= 0)
                                                        {
                                                            <span class="text-success">+$@item.amount</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-danger">-$@item.amount</span>
                                                        }
                                                    </td>
                                                    <td>$@item.Balance</td>
                                                    <td>
                                                        @if (item.trangthai.ToLower() == "Doi".ToLower())
                                                        {
                                                            <span class="badge badge-secondary rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Pending</span>
                                                        }
                                                        else if (item.trangthai.ToLower() == "done".ToLower())
                                                        {
                                                            <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Completed</span>

                                                        }
                                                        else if (item.trangthai.ToLower() == "huy".ToLower())
                                                        {
                                                            <span class="badge badge-danger rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Cancelled</span>
                                                        }
                                                        else if (item.trangthai.ToLower() == "thanhtoanthieu".ToLower()){
 
                                                        }
                                                    </td>
                                                    <td><a href="@item.detail" target="_blank"> View Detail</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
           
                    <!-- /Transactions List -->

                </div>
                <!-- /Wallet -->

            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-top">
                <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Pages</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="team.html">Our Team</a>
                                </li>
                                <li>
                                    <a href="pricing-plan.html">Pricing Plans</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="profile-settings.html">Settings</a>
                                </li>
                                <li>
                                    <a href="my-profile.html">Profile</a>
                                </li>
                                <li>
                                    <a href="agent-listings.html">Listings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Company</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="about-us.html">About Us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Careers</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Blog</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Affiliate Program</a>
                                </li>
                                <li>
                                    <a href="add-flight.html">Add Your Listing</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Our Partners</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Destinations</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="javascript:void(0);">Hawai</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Istanbul</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">San Diego</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Belgium</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Los Angeles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Newyork</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Support</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="contact-us.html">Contact Us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Legal Notice</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">Terms and Conditions</a>
                                </li>
                                <li>
                                    <a href="chat.html">Chat Support</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Refund Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Services</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="hotel-grid.html">Hotel</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Activity Finder</a>
                                </li>
                                <li>
                                    <a href="flight-grid.html">Flight Finder</a>
                                </li>
                                <li>
                                    <a href="tour-grid.html">Holiday Rental</a>
                                </li>
                                <li>
                                    <a href="car-grid.html">Car Rental</a>
                                </li>
                                <li>
                                    <a href="tour-details.html">Holiday Packages</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-wrap bg-white">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-xl-3 col-xxl-3">
                            <div class="mb-3 text-center text-xl-start">
                                <a href="index.html" class="d-block footer-logo-light">
                                    <img src="~/assets/img/logo-dark.svg" alt="logo">
                                </a>
                                <a href="index.html" class="footer-logo-dark">
                                    <img src="~/assets/img/logo.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 col-xxl-4">
                            <div class="d-flex align-items-center justify-content-center flex-wrap">
                                <h6 class="fs-14 fw-medium me-2 mb-2">Available on : </h6>
                                <a href="javascript:void(0);" class="d-block mb-3 me-2">
                                    <img src="~/assets/img/icons/googleplay.svg" alt="logo">
                                </a>
                                <a href="javascript:void(0);" class="d-block mb-3">
                                    <img src="~/assets/img/icons/appstore.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-5 col-xxl-5">
                            <div class="d-sm-flex align-items-center justify-content-center justify-content-xl-end">
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start me-0 pe-0 me-sm-3 pe-sm-3 border-end mb-3">
                                    <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0">
                                        <i class="ti ti-headphones-filled fs-24"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Customer Support</p>
                                        <p class="fw-medium text-dark">+1 56589 54598</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3">
                                    <span class="avatar avatar-lg bg-secondary rounded-circle flex-shrink-0">
                                        <i class="ti ti-message fs-24 text-gray-9"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Drop Us an Email</p>
                                        <p class="fw-medium text-dark"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b9d0d7dfd6f9dcc1d8d4c9d5dc97dad6d4">[email&#160;protected]</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-img">
                    <img src="~/assets/img/bg/footer.svg" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <p class="fs-14">Copyright &copy; 2025. All Rights Reserved, <a href="javascript:void(0);" class="text-primary fw-medium">DreamsTour</a></p>
                            <div class="d-flex align-items-center">
                                <ul class="social-icon">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="card-links">
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-01.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-02.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-03.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-04.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-05.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-06.svg" alt="img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->
    <!-- Cursor -->
    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>
    <!-- /Cursor -->

    <div class="back-to-top">
        <a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Jquery JS -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery-3.7.1.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Wow JS -->
    <script src="~/assets/js/wow.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- MeanMenu Js -->
    <script src="~/assets/js/jquery.meanmenu.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Swiper Js -->
    <script src="~/assets/plugins/owlcarousel/owl.carousel.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Fancybox JS -->
    <script src="~/assets/plugins/fancybox/jquery.fancybox.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Counter JS -->
    <script src="~/assets/js/jquery.counterup.min.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/js/jquery.waypoints.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Sticky Sidebar JS -->
    <script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Datepicker Core JS -->
    <script src="~/assets/plugins/moment/moment.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Daterangepikcer JS -->
    <script src="~/assets/js/moment.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/plugins/daterangepicker/daterangepicker.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Datatable JS -->
    <script src="~/assets/js/jquery.dataTables.min.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="~/assets/js/dataTables.bootstrap5.min.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- cursor JS -->
    <script src="~/assets/js/cursor.js" type="bed19bed291da95521e092de-text/javascript"></script>

    <!-- Script JS -->
    <script src="~/assets/js/script.js" type="bed19bed291da95521e092de-text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="bed19bed291da95521e092de-|49" defer></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"90b71f355b8084b4","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.1.0","token":"3ca157e612a14eccbb30cf6db6691c29"}' crossorigin="anonymous"></script>
</body>

</html>


<script type="text/javascript">
    $("#btnDeposit").on("click", function () {
        var checkbox = parseInt($("#numOrder").val(), 10);
        var token = $("input[name='__RequestVerificationToken']").val();

        if (isNaN(checkbox) || checkbox < 100000) {
            Swal.fire(
                'Thất bại',
                "Nạp tối thiểu 100,000 VND",
                'error'
            );
            return;
        }

        $('#btnDeposit').html('<i class="fa fa-spinner fa-spin"></i> Đang xử lý...')
            .prop('disabled', true);

        $.ajax({
            url: "@Url.Action("AddBalance", "account")",
            method: "POST",
            dataType: "JSON",
            data: {
                number: $("#numOrder").val(),
                __RequestVerificationToken: token
            },
            success: function (response) {
                if (response.status === 'success') {
                    Swal.fire({
                        title: 'Thành công!',
                        text: 'Bạn sẽ được chuyển hướng đến trang thanh toán...',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed || result.isDismissed) {
                            window.location.href = response.url;
                        }
                    });

                } else {
                    Swal.fire(
                        'Thất bại',
                        response.msg,
                        'error'
                    );
                }
                $('#btnDeposit').html('Add Payment').prop('disabled', false);
            },
            error: function () {
                cuteToast({
                    type: "error",
                    message: 'Không thể xử lý',
                    timer: 5000
                });
                $('#btnDeposit').html('Add Payment').prop('disabled', false);
            }
        });
    });
</script>
