@model List<Booking.ViewModels.WishList>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golocal - Travel and Tour Booking Bootstrap 5 template</title>

    <meta name="description" content="Golocal - A premium Bootstrap 5 template crafted for travel and tour booking. Tailored for travel agencies and booking platforms, it features flight, hotel, and tour reservations, and holiday packages.">
    <meta name="keywords" content="travel booking template, tour booking, Bootstrap 5 travel template, Golocal, hotel booking, flights booking, holiday packages, tour agency website, travel agency template, travel HTML template, booking system, responsive travel template, Bootstrap travel website">
    <meta name="author" content="Dreams Technologies">
    <meta name="robots" content="index, follow">

   

</head>

<body>

    <div class="main-header">
        <!-- Header Topbar-->
        <div class="header-topbar text-center bg-transparent">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <p class="d-flex align-items-center fw-medium fs-14 mb-2"><i class="isax isax-call5 me-2"></i>Hotline: +84 123456789</p>
                    <div class="d-flex align-items-center">
                        <p class="mb-2 me-3 d-flex align-items-center fw-medium fs-14">
                            <i class="isax isax-message-text-15 me-2"></i>Email : <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                                                     class="__cf_email__"
                                                                                     data-cfemail="0f666169604f6a776e627f636a216c6062">[email&#160;protected]</a>
                        </p>

                        <div class="fav-dropdown mb-2">
                            <a href="wishlist.html" class="position-relative">
                                <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header Topbar-->
        <!-- Header -->
        @await Html.PartialAsync("_patiarialHearder")
        <!-- /Header -->
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Wishlist</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">

            <div class="row">

                <!-- Sidebar -->
                <div class="col-xl-3 col-lg-4 theiaStickySidebar">
                    <div class="card user-sidebar mb-4 mb-lg-0">
                        <div class="card-header user-sidebar-header">
                            <div class="profile-content rounded-pill">
                                <div class="d-flex align-items-center justify-content-between ">
                                    <div class=" d-flex align-items-center justify-content-center ">
                                        <img src="~/assets/img/users/user-lg-26.jpg" alt="image" class="img-fluid avatar avatar-lg rounded-circle flex-shrink-0 me-1">
                                        <div>
                                            <h6 class="fs-16">Chris Foxy</h6>
                                            <span class="fs-14 text-gray-6">Since 10 May 2025</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <a href="profile-settings.html" class="p-1 rounded-circle btn btn-light d-flex align-items-center justify-content-center"><i class="isax isax-edit-2 fs-14"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body user-sidebar-body">
                            <ul>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Main</span>
                                </li>
                                <li>
                                    <a href="/account" class="d-flex align-items-center">
                                        <i class="isax isax-grid-55"></i> Dashboard
                                    </a>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="d-block"><i class="isax isax-calendar-tick5"></i><span>My Bookings</span><span class="menu-arrow"></span></a>
                                    <ul>
                                        @* <li>
                                        <a href="customer-flight-booking.html" class="fs-14 d-inline-flex align-items-center">Flights</a>
                                        </li> *@
                                        <li>
                                            <a href="/account/hotelBooking" class="fs-14 d-inline-flex align-items-center">Hotels</a>
                                        </li>
                                        @*  <li>
                                        <a href="customer-car-booking.html" class="fs-14 d-inline-flex align-items-center">Cars</a>
                                        </li>
                                        <li>
                                        <a href="customer-cruise-booking.html" class="fs-14 d-inline-flex align-items-center">Cruise</a>
                                        </li> *@
                                        <li>
                                            <a href="/account/tourBooking" class="fs-14 d-inline-flex align-items-center">Tour</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/account/review" class="d-flex align-items-center">
                                        <i class="isax isax-magic-star5"></i> My Reviews
                                    </a>
                                </li>
                                @* <li>
                                <div class="message-content">
                                <a href="chat.html" class="d-flex align-items-center">
                                <i class="isax isax-message-square5"></i> Messages
                                </a>
                                <span class="msg-count rounded-circle">02</span>
                                </div>
                                </li> *@
                                <li class="mb-2">
                                    <a href="/account/Wishlist" class="d-flex align-items-center active">
                                        <i class="isax isax-heart5"></i> Wishlist
                                    </a>
                                </li>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Finance</span>
                                </li>
                                <li>
                                    <a href="/account/wallet" class="d-flex align-items-center ">
                                        <i class="isax isax-wallet-add-15"></i> Wallet
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a href="/account/payment" class="d-flex align-items-center">
                                        <i class="isax isax-money-recive5"></i> Payments
                                    </a>
                                </li>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">Account</span>
                                </li>
                                <li>
                                    <a href="/account/profile" class="d-flex align-items-center">
                                        <i class="isax isax-profile-tick5"></i> My Profile
                                    </a>
                                </li>
                                @*    <li>
                                <div class="message-content">
                                <a href="notification.html" class="d-flex align-items-center">
                                <i class="isax isax-notification-bing5"></i> Notifications
                                </a>
                                <span class="msg-count bg-purple rounded-circle">05</span>
                                </div>
                                </li> *@
                                <li>
                                    <a href="/account/settings" class="d-flex align-items-center">
                                        <i class="isax isax-setting-25"></i> Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Logout" class="d-flex align-items-center pb-0">
                                        <i class="isax isax-logout-15"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Sidebar -->

                <div class="col-xl-9 col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h6>My Wishlist</h6>
                            <p class="fs-14">Items in Wishlist : 60</p>
                        </div>
                    </div>

                    <!-- Hotel Grid -->
                    @foreach (var item in Model)
                    {
                        if (item.wishHotel?.Any() == true)
                        {
                            foreach (var itemhotel in item.wishHotel)
                            {
                                <div class="hotel-list">
                                    <div class="place-item mb-4">
                                        <div class="place-img">
                                            <div class="img-slider image-slide owl-carousel nav-center">
                                                @foreach(var img in itemhotel.img)
                                                {

                                                    <div class="slide-images">
                                                        <a asp-controller="Home" asp-action="HotelDetail" asp-route-id="@itemhotel.ID">
                                                            <img src="@img" class="img-fluid" alt="img">
                                                        </a>
                                                    </div>
                                                }

                                             
                                            </div>
                                            <div class="fav-item">
                                                <a href="javascript:void(0);" class="fav-icon selected">
                                                    <i class="isax isax-heart5"></i>
                                                </a>
                                                <span class="badge bg-info d-inline-flex align-items-center"><i class="isax isax-ranking me-1"></i>Trending</span>
                                            </div>
                                        </div>
                                        <div class="place-content pb-1">

                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div>
                                                    <h5 class="mb-1 text-truncate"><a asp-controller="Home" asp-action="HotelDetail" asp-route-id="@itemhotel.ID">@itemhotel.HotelName</a></h5>
                                                    <p class="d-flex align-items-center mb-2"><i class="isax isax-location5 me-2"></i>@itemhotel.Location</p>
                                                </div>
                                                <div class="d-flex align-items-center mb-2">
                                                    <a href="javascript:void(0);" class="d-flex align-items-center overflow-hidden border-end pe-2 me-2">
                                                        <span class="avatar avatar-md flex-shrink-0 me-2">
                                                            <img src="~/assets/img/users/user-01.jpg" class="rounded-circle" alt="img">
                                                        </span>
                                                        <p class="fs-14 text-truncate">@itemhotel.NameSeller</p>
                                                    </a>
                                                    <div class="d-flex align-items-center text-nowrap">
                                                        <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">@itemhotel.rating</span>
                                                        <p class="fs-14">(@itemhotel.NumberReview Reviews)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="d-flex align-items-center justify-content-between flex-wrap border-top pt-3">
                                                <h6 class="d-flex align-items-center mb-3">Facillities :<i class="isax isax-home-wifi ms-2 me-2 text-primary"></i><i class="isax isax-scissor me-2 text-primary"></i><i class="isax isax-profile-2user me-2 text-primary"></i><i class="isax isax-wind-2 me-2 text-primary"></i><a href="javascript:void(0);" class="fs-14 fw-normal text-default d-inline-block">+2</a></h6>
                                                <h5 class="text-primary text-nowrap me-2 mb-3">$@itemhotel.price <span class="fs-14 fw-normal text-default">/ Night</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                   
                    <!-- /Hotel Grid -->
                    <!-- Tours List -->

                    @foreach(var item in Model)
                    {
                        if (item.ListTours?.Any() == true)
                        {
                            foreach (var itemhotel in item.ListTours)
                            {
                                <div class="hotel-list">
                                    <div class="place-item mb-4">
                                        <div class="place-img">
                                            <div class="img-slider image-slide owl-carousel nav-center">

                                                @foreach (var img in itemhotel.img)
                                                {

                                                    <div class="slide-images">
                                                        <a asp-controller="Home" asp-action="HotelDetail" asp-route-id="@itemhotel.ID">
                                                            <img src="@img" class="img-fluid" alt="img">
                                                        </a>
                                                    </div>
                                                }                                               
                                            </div>
                                            <div class="fav-item">
                                                <a href="javascript:void(0);" class="fav-icon selected">
                                                    <i class="isax isax-heart5"></i>
                                                </a>
                                                <span class="badge bg-info d-inline-flex align-items-center"><i class="isax isax-ranking me-1"></i>Trending</span>
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2 mb-3">
                                                <div>
                                                    <h5 class="mb-1 text-truncate"><a href="/home/TourDetail/@itemhotel.ID">@itemhotel.TourName</a></h5>
                                                    <p class="fs-14 d-flex align-items-center"><i class="isax isax-location5 me-2"></i>@itemhotel.Location</p>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <p class="fs-14 text-gray-9  border-end pe-2 me-2 mb-0">
                                                        <span class="me-1"><i class="ti ti-receipt text-primary"></i></span> @itemhotel.category
                                                    </p>
                                                    <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-1">5.0</span>
                                                    <p class="fs-14">(@itemhotel.NumberReview Reviews)</p>
                                                </div>
                                            </div>
                                            <p class="fs-14 border-bottom pb-3 mb-3">Journey through majestic peaks and serene valleys, where nature’s beauty surrounds you at every turn.</p>
                                            <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2">
                                                <div class="d-flex align-items-center">
                                                    <span class="me-2"><i class="isax isax-calendar-tick text-gray-6"></i></span>
                                                    <p class="fs-14 text-gray-9  border-end pe-2 me-2 mb-0">@itemhotel.date</p>
                                                  @*   <p class="fs-14 text-gray-9 mb-0 text-truncate d-flex align-items-center">
                                                        <i class="isax isax-profile-2user me-1"></i>14 Guests
                                                    </p> *@
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <h6 class="d-flex align-items-center text-gray-6 fs-14 fw-normal border-end pe-2 me-2">
                                                        Starts From
                                                        <span class="ms-1 fs-18 fw-semibold text-primary">$@itemhotel.price</span>
                                                   @*      <span class="ms-1 fs-18 fw-semibold text-gray-3 text-decoration-line-through">$789</span> *@
                                                    </h6>
                                                    <a href="javascript:void(0);" class="avatar avatar-sm flex-shrink-0">
                                                        <img src="~/assets/img/users/user-08.jpg" class="rounded-circle" alt="img">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    }


                   
                    <!-- /Tours List -->
                    <!-- Car List -->
         
                </div>


            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-top">
                <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Pages</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="team.html">Đội ngũ của chúng tôi</a>
                                </li>
                                <li>
                                    <a href="pricing-plan.html">Gói giá</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Settings</a>
                                </li>
                                <li>
                                    <a href="profile-settings.html">Cài đặt</a>
                                </li>
                                <li>
                                    <a href="my-profile.html">Hồ sơ</a>
                                </li>
                                <li>
                                    <a href="agent-listings.html">Danh sách</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Doanh nghiệp</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="about-us.html">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Cơ hội nghề nghiệp</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Blog</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chương trình liên kết</a>
                                </li>
                                <li>
                                    <a href="add-flight.html">Thêm danh sách của bạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Đối tác của chúng tôi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Điểm đến</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="javascript:void(0);">Hawai</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Istanbul</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">San Diego</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Belgium</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Los Angeles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Newyork</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Hỗ trợ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="contact-us.html">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Thông báo pháp lý</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Chính sách quyền riêng tư</a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">Điều khoản và Điều kiện</a>
                                </li>
                                <li>
                                    <a href="chat.html">Hỗ trợ trò chuyện</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chính sách hoàn trả</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Dịch vụ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="hotel-grid.html">Khách sạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Trình tìm kiếm hoạt động</a>
                                </li>
                                <li>
                                    <a href="flight-grid.html">Tìm kiếm chuyến bay</a>
                                </li>
                                <li>
                                    <a href="tour-grid.html">Thuê kỳ nghỉ</a>
                                </li>
                                <li>
                                    <a href="car-grid.html">Thuê xe</a>
                                </li>
                                <li>
                                    <a href="tour-details.html">Gói kỳ nghỉ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-wrap bg-white">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-xl-3 col-xxl-3">
                            <div class="mb-3 text-center text-xl-start">
                                <a href="index.html" class="d-block footer-logo-light">
                                    <img src="~/assets/img/logo-dark.svg" alt="logo">
                                </a>
                                <a href="index.html" class="footer-logo-dark">
                                    <img src="~/assets/img/logo.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 col-xxl-4">
                            <div class="d-flex align-items-center justify-content-center flex-wrap">
                                <h6 class="fs-14 fw-medium me-2 mb-2">Available on : </h6>
                                <a href="javascript:void(0);" class="d-block mb-3 me-2">
                                    <img src="~/assets/img/icons/googleplay.svg" alt="logo">
                                </a>
                                <a href="javascript:void(0);" class="d-block mb-3">
                                    <img src="~/assets/img/icons/appstore.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-5 col-xxl-5">
                            <div class="d-sm-flex align-items-center justify-content-center justify-content-xl-end">
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start me-0 pe-0 me-sm-3 pe-sm-3 border-end mb-3">
                                    <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0">
                                        <i class="ti ti-headphones-filled fs-24"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Chăm sóc khách hàng</p>
                                        <p class="fw-medium text-dark">+84 393771017</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3">
                                    <span class="avatar avatar-lg bg-secondary rounded-circle flex-shrink-0">
                                        <i class="ti ti-message fs-24 text-gray-9"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Gửi email cho chúng tôi</p>
                                        <p class="fw-medium text-dark">
                                            <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="fc95929a93bc99849d918c9099d29f9391">[email&#160;protected]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-img">
                    <img src="~/assets/img/bg/footer.svg" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <p class="fs-14">
                                Copyright &copy; 2025. All Rights Reserved, <a href="javascript:void(0);"
                                                                               class="text-primary fw-medium">Golocal</a>
                            </p>
                            <div class="d-flex align-items-center">
                                <ul class="social-icon">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="card-links">
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-01.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-02.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-03.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-04.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-05.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-06.svg" alt="img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->
    <!-- Cursor -->
    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>
    <!-- /Cursor -->

    <div class="back-to-top">
        <a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>

   
</body>

</html>