
@model Booking.ViewModels.EditViewModels

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golocal - Travel and Tour Booking Bootstrap 5 template</title>

    <meta name="description" content="Golocal - A premium Bootstrap 5 template crafted for travel and tour booking. Tailored for travel agencies and booking platforms, it features flight, hotel, and tour reservations, and holiday packages.">
    <meta name="keywords" content="travel booking template, tour booking, Bootstrap 5 travel template, Golocal, hotel booking, flights booking, holiday packages, tour agency website, travel agency template, travel HTML template, booking system, responsive travel template, Bootstrap travel website">
    <meta name="author" content="Dreams Technologies">
    <meta name="robots" content="index, follow">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/apple-touch-icon.png">

    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">

    <!-- Theme Settings Js -->
    <script src="~/assets/js/theme-script.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Main.css -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="~/assets/plugins/tabler-icons/tabler-icons.css">

    <!-- Fontawesome Icon CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Summernote JS -->
    <link rel="stylesheet" href="~/assets/plugins/summernote/summernote-lite.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <!-- Iconsax CSS -->
    <link rel="stylesheet" href="~/assets/css/iconsax.css">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>

    <div class="main-header">
        <!-- Header Topbar-->
        <div class="header-topbar text-center bg-transparent">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <p class="d-flex align-items-center fw-medium fs-14 mb-2"><i class="isax isax-call5 me-2"></i>Hotline: +84 123456789</p>
                    <div class="d-flex align-items-center">
                        <p class="mb-2 me-3 d-flex align-items-center fw-medium fs-14">
                            <i class="isax isax-message-text-15 me-2"></i>Email : <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                                                     class="__cf_email__"
                                                                                     data-cfemail="0f666169604f6a776e627f636a216c6062">[email&#160;protected]</a>
                        </p>

                        <div class="fav-dropdown mb-2">
                            <a href="wishlist.html" class="position-relative">
                                <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header Topbar-->
        <!-- Header -->
        @await Html.PartialAsync("_patiarialHearder")
        <!-- /Header -->
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Sửa khách sạn</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sửa khách sạn</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">
            <div class="place-nav">
                <ul class="nav" role="tablist">
                    <li>
                        <a href="javascript:void(0);" class="nav-link active">
                            Sửa khách sạn
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="nav-link">
                            Sửa phòng
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="add_hotel" role="tabpanel">
                    <div class="row">
                        <div class="col-lg-3 theiaStickySidebar">
                            <div class="card border-0 mb-4 mb-lg-0">
                                <div class="card-body">
                                    <div>
                                        <h5 class="mb-3">Sửa khách sạn</h5>
                                        <ul class="add-tab-list">
                                            <li><a href="#basic_info" class="active">Thông tin cơ bản</a></li>
                                            <li><a href="#location">Đại điểm</a></li>
                                            <li><a href="#highlights">Điểm nổi bật</a></li>
                                            <li><a href="#room_types">Kiểu phòng</a></li>
                                            <li><a href="#popular_amenities">Tiện nghi phổ biến</a></li>
                                            <li><a href="#faq">FAQ</a></li>
                                            <li><a href="#gallery">Ảnh</a></li>
                                            <li><a href="#description">Mô tả</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <form asp-action="HotelEdit" method="post" enctype="multipart/form-data" id="formid11">

                                <div class="card shadow-none" id="basic_info">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h5 class="fs-18">Chi tiết khách sạn</h5>
                                        </div>
                                    </div>
                                    <div class="card-body pb-1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Tên khách sạn</label>
                                                    <input type="text" class="form-control" asp-for="Name">
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Danh mục</label>
                                                    <select class="select" asp-for="Category">
                                                        <option>Select</option>
                                                        <option value="Hotels">Hotels</option>
                                                        <option value="Villa">Villa</option>
                                                        <option value="Apartment">Apartment</option>
                                                        <option value="Guest House">Guest House</option>
                                                        <option value="Lodge">Lodge</option>
                                                    </select>
                                                    <span asp-validation-for="Category" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Thành lập</label>
                                                    <div class="input-icon-end position-relative">
                                                        <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy" value="02-05-2024">
                                                        <span class="input-icon-addon">
                                                            <i class="isax isax-calendar"></i>
                                                        </span>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Cải tạo</label>
                                                    <div class="input-icon-end position-relative">
                                                        <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy" value="02-05-2024">
                                                        <span class="input-icon-addon">
                                                            <i class="isax isax-calendar"></i>
                                                        </span>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Xếp hạng</label>
                                                    <select class="select" asp-for="StarRating">
                                                        <option>Select</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                    <span asp-validation-for="StarRating" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Tổng số phòng</label>
                                                    <input type="number" class="form-control" asp-for="TotalRooms">
                                                    <span asp-validation-for="TotalRooms" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Công suất tối đa</label>
                                                    <input type="number" class="form-control" asp-for="MaxCapacity">
                                                    <span asp-validation-for="MaxCapacity" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow-none" id="location">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h5 class="fs-18">Vị trí</h5>
                                        </div>
                                    </div>
                                    <div class="card-body pb-1">
                                        <div class="row">
                                            <div class="col-xl-3 col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Quốc gia</label>
                                                    <select class="select" asp-for="Country">
                                                        <option>Select</option>
                                                        <option>Việt Nam</option>
                                                        <option>Canada</option>
                                                        <option>United Kingdom</option>
                                                    </select>
                                                    <span asp-validation-for="Country" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Thành phố</label>
                                                    <input type="text" class="form-control" asp-for="City">
                                                    <span asp-validation-for="City" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Tình trạng</label>
                                                    <input type="text" class="form-control" asp-for="State">
                                                    <span asp-validation-for="State" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Zip Code</label>
                                                    <input type="text" class="form-control" asp-for="ZipCode">
                                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Địa chỉ</label>
                                                    <input type="text" class="form-control" asp-for="Address">
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Bản đồ liên kết</label>
                                                    <input type="text" class="form-control" asp-for="linkLocation">
                                                    <span asp-validation-for="linkLocation" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow-none" id="highlights">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h5 class="fs-18">Điểm nổi bật</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row add-highlight-info">
                                              @for (int i = 0; i < Model.Highlights.Count; i++)
                                                    {
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label class="form-label">ĐIểm nổi bật</label>
                                                  
                                                        <input type="text" class="form-control" asp-for="Highlights[@i]" value="@Model.Highlights[i]" />
                                                   
                                                </div>
                                            </div>
                                            }


                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" class="btn btn-primary btn-sm add-highlight"><i class="isax isax-add-circle me-1"></i>Thêm mới</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow-none">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h5 class="fs-18">Dịch vụ</h5>
                                        </div>
                                    </div>
                                    <div class="card-body pb-1">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[0]" id="service-1">
                                                        <label class="form-check-label ms-2" for="service-1">
                                                            Dịch vụ phòng 24 giờ
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[1]" id="service-2">
                                                        <label class="form-check-label ms-2" for="service-2">
                                                            Ăn uống trong phòng
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[2]" id="service-3">
                                                        <label class="form-check-label ms-2" for="service-3">
                                                            Dịch vụ Concierge
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[3]" id="service-4">
                                                        <label class="form-check-label ms-2" for="service-4">
                                                            Dọn dẹp nhà cửa hằng ngày
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[4]" id="service-5">
                                                        <label class="form-check-label ms-2" for="service-5">
                                                            Dịch vụ Front Desk
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[5]" id="service-6">
                                                        <label class="form-check-label ms-2" for="service-6">
                                                            Nhà hàng tại chỗ
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[6]" id="service-7">
                                                        <label class="form-check-label ms-2" for="service-7">
                                                            Hỗ trợ Check-In/Check-Out
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[7]" id="service-8">
                                                        <label class="form-check-label ms-2" for="service-8">
                                                            Gửi hành lý miễn phí
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[8]" id="service-9">
                                                        <label class="form-check-label ms-2" for="service-9">
                                                            Dịch vụ giặt ủi
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[9]" id="service-10">
                                                        <label class="form-check-label ms-2" for="service-10">
                                                            Dịch vụ giặt khô
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[10]" id="service-11">
                                                        <label class="form-check-label ms-2" for="service-11">
                                                            Dịch vụ làm tóc và làm đẹp
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[11]" id="service-12">
                                                        <label class="form-check-label ms-2" for="service-12">
                                                            Trị liệu Spa tại phòng
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[12]" id="service-13">
                                                        <label class="form-check-label ms-2" for="service-13">
                                                            Đỗ xe có người phục vụ
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[13]" id="service-14">
                                                        <label class="form-check-label ms-2" for="service-14">
                                                            Trông trẻ
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[14]" id="service-15">
                                                        <label class="form-check-label ms-2" for="service-15">
                                                            Dịch vụ giặt khô
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[15]" id="service-16">
                                                        <label class="form-check-label ms-2" for="service-16">
                                                            Dịch vụ gọi báo thức
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[16]" id="service-17">
                                                        <label class="form-check-label ms-2" for="service-17">
                                                            Dịch vụ biên dịch
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="IsRoomService24h[17]" id="service-18">
                                                        <label class="form-check-label ms-2" for="service-18">
                                                            Dịch vụ đổi tiền
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="card shadow-none">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h5 class="fs-18">Khả năng tiếp cận</h5>
                                        </div>
                                    </div>
                                    <div class="card-body pb-1">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[0]" id="accessibility-1">
                                                        <label class="form-check-label ms-2" for="accessibility-1">
                                                            Có thể sử dụng xe lăn
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[1]" id="accessibility-2">
                                                        <label class="form-check-label ms-2" for="accessibility-2">
                                                            Báo động trực quan ở hành lang
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[2]" id="accessibility-3">
                                                        <label class="form-check-label ms-2" for="accessibility-3">
                                                            Thang máy
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[3]" id="accessibility-4">
                                                        <label class="form-check-label ms-2" for="accessibility-4">
                                                            Chữ nổi/biển báo nổi
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[4]" id="accessibility-5">
                                                        <label class="form-check-label ms-2" for="accessibility-5">
                                                            Vòi sen lăn có ghế dài hoặc ghế ngồi
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[5]" id="accessibility-6">
                                                        <label class="form-check-label ms-2" for="accessibility-6">
                                                            Thanh vịn gần bồn cầu và vòi hoa sen
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[6]" id="accessibility-7">
                                                        <label class="form-check-label ms-2" for="accessibility-7">
                                                            Phòng tập thể dục dành cho xe lăn
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[7]" id="accessibility-8">
                                                        <label class="form-check-label ms-2" for="accessibility-8">
                                                            Trung tâm thương mại dành cho xe lăn
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[8]" id="accessibility-9">
                                                        <label class="form-check-label ms-2" for="accessibility-9">
                                                            Phòng chờ dành cho xe lăn
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[9]" id="accessibility-10">
                                                        <label class="form-check-label ms-2" for="accessibility-10">
                                                            Bàn lễ tân dành cho xe lăn
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[10]" id="accessibility-11">
                                                        <label class="form-check-label ms-2" for="accessibility-11">
                                                            Giá treo khăn hạ thấp
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[11]" id="accessibility-12">
                                                        <label class="form-check-label ms-2" for="accessibility-12">
                                                            Chữ nổi trên số phòng, nút bấm thang máy
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[12]" id="accessibility-13">
                                                        <label class="form-check-label ms-2" for="accessibility-13">
                                                            Lối vào không có bậc thang hoặc có dốc
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[13]" id="accessibility-14">
                                                        <label class="form-check-label ms-2" for="accessibility-14">
                                                            Cửa tự động
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[14]" id="accessibility-15">
                                                        <label class="form-check-label ms-2" for="accessibility-15">
                                                            Thanh vịn trong phòng tắm
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[15]" id="accessibility-16">
                                                        <label class="form-check-label ms-2" for="accessibility-16">
                                                            Cửa ra vào rộng
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[16]" id="accessibility-17">
                                                        <label class="form-check-label ms-2" for="accessibility-17">
                                                            Công tắc hạ thấp
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Accessibility[17]" id="accessibility-18">
                                                        <label class="form-check-label ms-2" for="accessibility-18">
                                                            Rèm cửa có thể tiếp cận
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow-none" id="room_types">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h5 class="fs-18">Kiểu phòng</h5>
                                        </div>
                                    </div>
                                    <div class="card-body pb-1">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[0]" id="room-1">
                                                        <label class="form-check-label ms-2" for="room-1">
                                                            Single Room
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[1]" id="room-2">
                                                        <label class="form-check-label ms-2" for="room-2">
                                                            Double Room
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[2]" id="room-3">
                                                        <label class="form-check-label ms-2" for="room-3">
                                                            Twin Room
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[3]" id="room-4">
                                                        <label class="form-check-label ms-2" for="room-4">
                                                            Deluxe Room
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[4]" id="room-5">
                                                        <label class="form-check-label ms-2" for="room-5">
                                                            Suite
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[5]" id="room-6">
                                                        <label class="form-check-label ms-2" for="room-6">
                                                            Junior Suite
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[6]" id="room-7">
                                                        <label class="form-check-label ms-2" for="room-7">
                                                            Family Room
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[7]" id="room-8">
                                                        <label class="form-check-label ms-2" for="room-8">
                                                            Connecting Rooms
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[8]" id="room-9">
                                                        <label class="form-check-label ms-2" for="room-9">
                                                            Accessible Room
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[9]" id="room-10">
                                                        <label class="form-check-label ms-2" for="room-10">
                                                            Studio Room
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="mb-3">
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[10]" id="room-11">
                                                        <label class="form-check-label ms-2" for="room-11">
                                                            Penthouse
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[11]" id="room-12">
                                                        <label class="form-check-label ms-2" for="room-12">
                                                            Villa
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[12]" id="room-13">
                                                        <label class="form-check-label ms-2" for="room-13">
                                                            Economy Room
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[13]" id="room-14">
                                                        <label class="form-check-label ms-2" for="room-14">
                                                            City View
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex align-items-center ps-0 mb-2">
                                                        <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="RoomTypes[14]" id="room-15">
                                                        <label class="form-check-label ms-2" for="room-15">
                                                            Ocean View
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*  <div class="card shadow-none" id="popular_amenities">
                                <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                <h5 class="fs-18">Amenities</h5>
                                </div>
                                </div>
                                <div class="card-body pb-1">
                                <div class="row">
                                <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[0]" id="amenities-1">
                                <label class="form-check-label ms-2" for="amenities-1">
                                Free Wi-Fi
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[1]" id="amenities-2">
                                <label class="form-check-label ms-2" for="amenities-2">
                                Air Conditioning
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[2]" id="amenities-3">
                                <label class="form-check-label ms-2" for="amenities-3">
                                Heater
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[3]" id="amenities-4">
                                <label class="form-check-label ms-2" for="amenities-4">
                                TV (Cable/Satellite)
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[4]" id="amenities-5">
                                <label class="form-check-label ms-2" for="amenities-5">
                                Coffee Maker
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[5]" id="amenities-6">
                                <label class="form-check-label ms-2" for="amenities-6">
                                Mini Fridge
                                </label>
                                </div>
                                </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[6]" id="amenities-7">
                                <label class="form-check-label ms-2" for="amenities-7">
                                Safe Deposit Box
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[7]" id="amenities-8">
                                <label class="form-check-label ms-2" for="amenities-8">
                                Iron/Ironing Board
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[8]" id="amenities-9">
                                <label class="form-check-label ms-2" for="amenities-9">
                                Hair Dryer
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[9]" id="amenities-10">
                                <label class="form-check-label ms-2" for="amenities-10">
                                Shower
                                </label>
                                </divAccessibility
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[10]" id="amenities-11">
                                <label class="form-check-label ms-2" for="amenities-11">
                                Jacuzzi/Hot Tub
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[11]" id="amenities-12">
                                <label class="form-check-label ms-2" for="amenities-12">
                                Microwave
                                </label>
                                </div>
                                </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[12]" id="amenities-13">
                                <label class="form-check-label ms-2" for="amenities-13">
                                Bluetooth Speaker
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[13]" id="amenities-14">
                                <label class="form-check-label ms-2" for="amenities-14">
                                Sofa/Seating Area
                                </label>
                                </div>
                                <div class="form-check d-flex align-items-center ps-0 mb-2">
                                <input class="form-check-input ms-0 mt-0" type="checkbox" asp-for="Amenities[14]" id="amenities-15">
                                <label class="form-check-label ms-2" for="amenities-15">
                                Extra Pillows and Blankets
                                </label>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div> *@
                             @*    <div class="card shadow-none" id="faq">
                                    <div class="card-header">
                                        <h5 class="fs-18">FAQ</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="card shadow-none mb-3">
                                            <div class="card-body px-3 py-2">
                                                <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
                                                    <h6><a href="javascript:void(0);">Does offer free cancellation for a full refund?</a></h6>
                                                    <div class="d-flex align-items-center">
                                                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_faq" class="rounded-edit d-flex align-items-center justify-content-center me-2">
                                                            <i class="isax isax-edit-2"></i>
                                                        </a>
                                                        <a href="javascript:void(0);" class="trash-icon d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                            <i class="isax isax-trash text-danger"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card shadow-none mb-3">
                                            <div class="card-body px-3 py-2">
                                                <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
                                                    <h6><a href="javascript:void(0);">Is there a pool?</a></h6>
                                                    <div class="d-flex align-items-center">
                                                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_faq" class="rounded-edit d-flex align-items-center justify-content-center me-2">
                                                            <i class="isax isax-edit-2"></i>
                                                        </a>
                                                        <a href="javascript:void(0);" class="trash-icon d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                            <i class="isax isax-trash text-danger"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" class="btn btn-primary btn-sm add-highlight" data-bs-toggle="modal" data-bs-target="#add_faq">
                                                <i class="isax isax-add-circle me-1"></i>Add New
                                            </a>
                                        </div>
                                    </div>
                                </div> *@
                                <div class="card shadow-none" id="gallery">
                                    <div class="card-header">
                                        <h5 class="fs-18">Hotel Gallery</h5>
                                    </div>
                                    <input  type="hidden" asp-for="ID"/>
                                    <div class="card-body">
                                        <div class="file-upload drag-file w-100 d-flex align-items-center justify-content-center flex-column mb-2">
                                            <span class="upload-img d-block mb-2"><i class="isax isax-document-upload fs-24"></i></span>
                                            <h6 class="mb-1">Tải lên hình ảnh thư viện</h6>
                                            <p class="mb-0">Tải lên hình ảnh nổi bật Đầu tiên, kích thước hình ảnh phải dưới 5MB</p>
                                            <input type="file" accept="image/*" multiple id="file-input-hotel" asp-for="Images">
                                        </div>

                                        <!-- Hiển thị các ảnh đã có sẵn -->
                                        <div class="d-flex align-items-center" id="hotel-gallery">
                                            @foreach (var image in Model.ExistingImages)
                                            {
                                                <a href="javascript:void(0);" class="gallery-upload-img me-2">
                                                    <img src="@Url.Content(image)" alt="Image" />
                                                    <span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash">
                                                        <i class="isax isax-trash"></i>
                                                    </span>
                                                </a>
                                            }
                                        </div>

                                    </div>
                                    <span asp-validation-for="Images" class="text-danger"></span>
                                </div>

                                <script>
                                    // JavaScript để hiển thị các ảnh đã chọn
                                    document.getElementById('file-input-hotel').addEventListener('change', function (event) {
                                        const files = event.target.files;
                                        const hotelGallery = document.getElementById('hotel-gallery');
                                        hotelGallery.innerHTML = ''; // Xóa các ảnh hiện có trong gallery trước khi thêm mới

                                        Array.from(files).forEach((file, index) => {
                                            if (file && file.type.startsWith('image')) {
                                                const reader = new FileReader();

                                                reader.onload = function (e) {
                                                    const imgElement = document.createElement('a');
                                                    imgElement.href = 'javascript:void(0);';
                                                    imgElement.classList.add('gallery-upload-img', 'me-2');
                                                    imgElement.id = 'hotel-img-' + index; // Đặt ID cho ảnh

                                                    const imgTag = document.createElement('img');
                                                    imgTag.src = e.target.result;
                                                    imgTag.alt = 'Img';

                                                    const trashIcon = document.createElement('span');
                                                    trashIcon.classList.add('trash-icon', 'd-flex', 'align-items-center', 'justify-content-center', 'text-danger', 'gallery-trash');

                                                    const icon = document.createElement('i');
                                                    icon.classList.add('isax', 'isax-trash');
                                                    trashIcon.appendChild(icon);

                                                    imgElement.appendChild(imgTag);
                                                    imgElement.appendChild(trashIcon);

                                                    hotelGallery.appendChild(imgElement);
                                                };

                                                reader.readAsDataURL(file);
                                            }
                                        });
                                    });
                                </script>


                                <div class="card shadow-none" id="description">
                                    <div class="card-header">
                                        <h5 class="fs-18">Description</h5>
                                    </div>
                                    <div class="card-body text-editor">
                                        <!-- Input ẩn để lưu nội dung Summernote -->
                                        <input type="hidden" id="editorContent" name="dess" asp-for="dess" />
                                        <!-- Thay div bằng textarea -->
                                        <textarea class="summernote"></textarea>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-center">
                                    <button type="button" class="btn btn-light me-2">Đặt lại</button>
                                    <button type="submit" class="btn btn-primary">Sửa khách sạn</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
  
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-top">
                <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Pages</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="team.html">Đội ngũ của chúng tôi</a>
                                </li>
                                <li>
                                    <a href="pricing-plan.html">Gói giá</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Settings</a>
                                </li>
                                <li>
                                    <a href="profile-settings.html">Cài đặt</a>
                                </li>
                                <li>
                                    <a href="my-profile.html">Hồ sơ</a>
                                </li>
                                <li>
                                    <a href="agent-listings.html">Danh sách</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Doanh nghiệp</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="about-us.html">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Cơ hội nghề nghiệp</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Blog</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chương trình liên kết</a>
                                </li>
                                <li>
                                    <a href="add-flight.html">Thêm danh sách của bạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Đối tác của chúng tôi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Điểm đến</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="javascript:void(0);">Hawai</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Istanbul</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">San Diego</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Belgium</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Los Angeles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Newyork</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Hỗ trợ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="contact-us.html">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Thông báo pháp lý</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Chính sách quyền riêng tư</a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">Điều khoản và Điều kiện</a>
                                </li>
                                <li>
                                    <a href="chat.html">Hỗ trợ trò chuyện</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chính sách hoàn trả</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Dịch vụ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="hotel-grid.html">Khách sạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Trình tìm kiếm hoạt động</a>
                                </li>
                                <li>
                                    <a href="flight-grid.html">Tìm kiếm chuyến bay</a>
                                </li>
                                <li>
                                    <a href="tour-grid.html">Thuê kỳ nghỉ</a>
                                </li>
                                <li>
                                    <a href="car-grid.html">Thuê xe</a>
                                </li>
                                <li>
                                    <a href="tour-details.html">Gói kỳ nghỉ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-wrap bg-white">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-xl-3 col-xxl-3">
                            <div class="mb-3 text-center text-xl-start">
                                <a href="index.html" class="d-block footer-logo-light">
                                    <img src="~/assets/img/logo-dark.svg" alt="logo">
                                </a>
                                <a href="index.html" class="footer-logo-dark">
                                    <img src="~/assets/img/logo.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 col-xxl-4">
                            <div class="d-flex align-items-center justify-content-center flex-wrap">
                                <h6 class="fs-14 fw-medium me-2 mb-2">Available on : </h6>
                                <a href="javascript:void(0);" class="d-block mb-3 me-2">
                                    <img src="~/assets/img/icons/googleplay.svg" alt="logo">
                                </a>
                                <a href="javascript:void(0);" class="d-block mb-3">
                                    <img src="~/assets/img/icons/appstore.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-5 col-xxl-5">
                            <div class="d-sm-flex align-items-center justify-content-center justify-content-xl-end">
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start me-0 pe-0 me-sm-3 pe-sm-3 border-end mb-3">
                                    <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0">
                                        <i class="ti ti-headphones-filled fs-24"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Chăm sóc khách hàng</p>
                                        <p class="fw-medium text-dark">+84 393771017</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3">
                                    <span class="avatar avatar-lg bg-secondary rounded-circle flex-shrink-0">
                                        <i class="ti ti-message fs-24 text-gray-9"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Gửi email cho chúng tôi</p>
                                        <p class="fw-medium text-dark">
                                            <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="fc95929a93bc99849d918c9099d29f9391">[email&#160;protected]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-img">
                    <img src="~/assets/img/bg/footer.svg" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <p class="fs-14">
                                Copyright &copy; 2025. All Rights Reserved, <a href="javascript:void(0);"
                                                                               class="text-primary fw-medium">Golocal</a>
                            </p>
                            <div class="d-flex align-items-center">
                                <ul class="social-icon">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="card-links">
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-01.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-02.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-03.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-04.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-05.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-06.svg" alt="img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->
    <!-- Filter Modal -->
    <div class="modal fade" id="add_faq" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Add New FAQ</h5>
                    <button data-bs-dismiss="modal" aria-label="close" class="btn-close"></button>
                </div>
                <form action="add-hotel.html">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Question <span class="text-danger"> *</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div>
                            <label class="form-label">Answer <span class="text-danger"> *</span></label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex align-items-center justify-content-end m-0">
                            <button type="button" data-bs-dismiss="modal" class="btn btn-sm btn-light me-2">Cancel</button>
                            <button type="submit" class="btn btn-sm btn-primary">Add FAQ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Filter Modal -->
    <!-- Faq Modal -->
    <div class="modal fade" id="edit_faq" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Edit FAQ</h5>
                    <button data-bs-dismiss="modal" aria-label="close" class="btn-close"></button>
                </div>
                <form action="add-hotel.html">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Question <span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" value="Does offer free cancellation for a full refund?">
                        </div>
                        <div>
                            <label class="form-label">Answer <span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" value="yes">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex align-items-center justify-content-end m-0">
                            <button type="button" data-bs-dismiss="modal" class="btn btn-sm btn-light me-2">Cancel</button>
                            <button type="submit" class="btn btn-sm btn-primary">Save FAQ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Faq Modal -->
    <!-- Cursor -->
    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>
    <!-- /Cursor -->

    <div class="back-to-top">
        <a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Jquery JS -->
    <!-- Jquery JS -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery-3.7.1.min.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <!-- Wow JS -->
    <script src="~/assets/js/wow.min.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <!-- MeanMenu Js -->
    <script src="~/assets/js/jquery.meanmenu.min.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <!-- Owlcarousel Js -->
    <script src="~/assets/plugins/owlcarousel/owl.carousel.min.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <!-- Sticky Sidebar JS -->
    <script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <!-- Datepicker Core JS -->
    <script src="~/assets/plugins/moment/moment.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <!-- Summernote JS -->
    <script src="~/assets/plugins/summernote/summernote-lite.min.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="~/assets/plugins/select2/js/select2.min.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <!-- cursor JS -->
    <script src="~/assets/js/cursor.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <!-- Script JS -->
    <script src="~/assets/js/script.js" type="e048e21a62b777f7e6c1c923-text/javascript"></script>

    <script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="e048e21a62b777f7e6c1c923-|49" defer></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"90d86d815d34ddca","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.1.0","token":"3ca157e612a14eccbb30cf6db6691c29"}' crossorigin="anonymous"></script>
</body>

</html>
<!-- Load jQuery trước -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<!-- Load CSS của Summernote -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">

<!-- Load JS của Summernote -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>

<script>

    $(document).ready(function () {
        // Kiểm tra jQuery có hoạt động không
        console.log("jQuery đã được tải!");

        // Điền dữ liệu từ input ẩn vào Summernote khi trang được tải lại
        var initialContent = $('#editorContent').val(); // Lấy nội dung từ input ẩn
        if (initialContent) {
            $('.summernote').summernote('code', initialContent); // Đặt nội dung vào Summernote
        }

        // Khởi tạo Summernote
        $('.summernote').summernote({
            height: 200 // Đặt chiều cao của editor
        });

        // Xử lý sự kiện submit form
        $('#formid11').on('submit', function (e) {
            e.preventDefault(); // Ngăn chặn gửi form mặc định

            var editorContent = $('.summernote').summernote('code');
            $('#editorContent').val(editorContent); // Gán nội dung vào input ẩn

            console.log("Dữ liệu gửi đi:", $('#editorContent').val()); // Kiểm tra dữ liệu

            this.submit(); // Gửi form sau khi cập nhật nội dung
        });
    });


    @if (TempData["Messse"] != null)
    {
        <text>
            Swal.fire({
                title: "Chúc mừng!",
                text: '@Html.Raw(TempData["Messse"])',
                icon: "success",
                showCancelButton: false,
                confirmButtonColor: "#3085d6",
                confirmButtonText: "OK"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Logic sau khi nhấn OK
                }
            });
        </text>
    }


    @if (TempData["MessseErro"] != null)
    {

        <text>
            Swal.fire({
                title: "Failed!!",
                text: '@Html.Raw(@TempData["MessseErro"])',
                icon: "error",
                showCancelButton: false,
                confirmButtonColor: "#3085d6",
                confirmButtonText: "OK"
            }).then((result) => {
                if (result.isConfirmed) {
                }
            });
        </text>

    }



</script>
