﻿@{
    Layout = null;
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

@model List<Booking.ViewModels.ListProduct>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamsTour - Travel and Tour Booking Bootstrap 5 template</title>

    <meta name="description" content="DreamsTour - A premium Bootstrap 5 template crafted for travel and tour booking. Tailored for travel agencies and booking platforms, it features flight, hotel, and tour reservations, and holiday packages.">
    <meta name="keywords" content="travel booking template, tour booking, Bootstrap 5 travel template, DreamsTour, hotel booking, flights booking, holiday packages, tour agency website, travel agency template, travel HTML template, booking system, responsive travel template, Bootstrap travel website">
    <meta name="author" content="Dreams Technologies">
    <meta name="robots" content="index, follow">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/apple-touch-icon.png">

    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">

    <!-- Theme Settings Js -->
	<script src="~/assets/js/theme-script.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Main.css -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="~/assets/plugins/tabler-icons/tabler-icons.css">

    <!-- Fontawesome Icon CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fancybox/jquery.fancybox.min.css">

    <!-- Owlcarousel CSS -->
    <link rel="stylesheet" href="~/assets/plugins/owlcarousel/owl.carousel.min.css">

    <!-- Iconsax CSS -->
    <link rel="stylesheet" href="~/assets/css/iconsax.css">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>

    <div class="main-header">
        <!-- Header Topbar-->
        <div class="header-topbar text-center bg-transparent">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <p class="d-flex align-items-center fw-medium fs-14 mb-2"><i class="isax isax-call5 me-2"></i>Hotline: +84 123456789</p>
                    <div class="d-flex align-items-center">
                        <p class="mb-2 me-3 d-flex align-items-center fw-medium fs-14">
                            <i class="isax isax-message-text-15 me-2"></i>Email : <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                                                     class="__cf_email__"
                                                                                     data-cfemail="0f666169604f6a776e627f636a216c6062">[email&#160;protected]</a>
                        </p>

                        <div class="fav-dropdown mb-2">
                            <a href="wishlist.html" class="position-relative">
                                <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header Topbar-->
        <!-- Header -->
        @await Html.PartialAsync("_patiarialHearder")
        <!-- /Header -->
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-04 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Danh sách</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">

            <div class="row">

                <!-- Sidebar -->
                <div class="col-xl-3 col-lg-4 theiaStickySidebar">
                    <div class="card user-sidebar agent-sidebar mb-4 mb-lg-0">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var tien = await UserManager.GetUserAsync(User);
                            <div class="card-header user-sidebar-header text-center bg-gray-transparent">
                                <div class="agent-profile d-inline-flex">
                                    <img src="@tien.img" alt="image" class="img-fluid rounded-circle">
                                    <a href="agent-settings.html" class="avatar avatar-sm rounded-circle btn btn-primary d-flex align-items-center justify-content-center p-0"><i class="isax isax-edit-2 fs-14"></i></a>
                                </div>
                                <h6 class="fs-16">@tien.UserName</h6>
                                <span class="fs-14 text-gray-6">@tien.joinin</span>
                            </div>
                        }
                        @* <div class="card-header user-sidebar-header text-center bg-gray-transparent">
                            <div class="agent-profile d-inline-flex">
                                <img src="~/assets/img/users/user-43.jpg" alt="image" class="img-fluid rounded-circle">
                                <a href="agent-settings.html" class="avatar avatar-sm rounded-circle btn btn-primary d-flex align-items-center justify-content-center p-0"><i class="isax isax-edit-2 fs-14"></i></a>
                            </div>
                            <h6 class="fs-16">Chris Foxy</h6>
                            <p class="fs-14 mb-2">Member Since 10 May 2025</p>
                            <div class="d-flex align-items-center justify-content-center notify-item">
                                <a href="agent-notifications.html" class="rounded-circle btn btn-white d-flex align-items-center justify-content-center p-0 me-2 position-relative">
                                    <i class="isax isax-notification-bing5 fs-20"></i>
                                    <span class="position-absolute p-1 bg-secondary rounded-circle"></span>
                                </a>
                                <a href="agent-chat.html" class="rounded-circle btn btn-white d-flex align-items-center justify-content-center p-0 position-relative">
                                    <i class="isax isax-message-square5 fs-20"></i>
                                    <span class="position-absolute p-1 bg-danger rounded-circle"></span>
                                </a>
                            </div>
                        </div> *@
                        <div class="card-body user-sidebar-body">
                            <ul>
                                <li>
                                    <a href="/manager" class="d-flex align-items-center">
                                        <i class="isax isax-grid-55 me-2"></i>Bảng điều khiển
                                    </a>
                                </li>
                                <li>
                                    <a href="/manager/listing" class="d-flex align-items-center active">
                                        <i class="isax isax-menu-14 me-2"></i>Danh sách
                                    </a>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="d-block"><i class="isax isax-calendar-tick5 me-2"></i><span>Bookings</span><span class="menu-arrow"></span></a>
                                    <ul>
                                        <li>
                                            <a href="/manager/hotelsBooking" class="fs-14 d-inline-flex align-items-center">Khách sạn</a>
                                        </li>


                                        <li>
                                            <a href="/manager/toursBooking" class="fs-14 d-inline-flex align-items-center">Tour du lịch</a>
                                        </li>

                                    </ul>
                                </li>
                                @*  <li>
                                    <a href="agent-enquirers.html" class="d-flex align-items-center">
                                        <i class="isax isax-magic-star5 me-2"></i>Enquiries
                                    </a>
                                </li>
                                <li>
                                    <a href="agent-earnings.html" class="d-flex align-items-center">
                                        <i class="isax isax-wallet-add-15 me-2"></i>Earnings
                                    </a>
                                </li> *@
                                <li>
                                    <a href="/manager/review" class="d-flex align-items-center">
                                        <i class="isax isax-magic-star5 me-2"></i>Đánh giá
                                    </a>
                                </li>
                                @*  <li>
                                    <a href="agent-settings.html" class="d-flex align-items-center">
                                        <i class="isax isax-setting-25"></i> Settings
                                    </a>
                                </li> *@
                                <li class="logout-link">
                                    <a href="/Home/Logout" class="d-flex align-items-center pb-0">
                                        <i class="isax isax-logout-15"></i> Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Sidebar -->

                <div class="col-xl-9 col-lg-8"> 
                    <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
                        <div class="place-nav listing-nav">
                            <ul class="nav mb-2">
                                <li class="me-2">
                                    <a href="javascript:void(0);" class="nav-link active" data-bs-toggle="tab" data-bs-target="#Hotels-list">
                                        Khách sạn
                                    </a>
                                </li>
                               
                                <li class="me-2">
                                    <a href="javascript:void(0);" class="nav-link" data-bs-toggle="tab" data-bs-target="#Tour-list">
                                        Tour du lịch
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="dropdown mb-4">
                            <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                Tất cả danh sách
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end p-3">
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">Active</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">Inactive</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">

                        <!-- Hotels List -->
                        <div class="tab-pane fade active show" id="Hotels-list">
                            <div class="card border-0">
                                <div class="card-body d-flex align-items-center justify-content-between flex-wrap row-gap-2">
                                    <div>
                                        <h5 class="mb-1">Danh sách</h5>
                                        <p>Số lượng niêm yết : 200</p>
                                    </div>
                                   <div>
                                        <a href="/manager/createHotel" class="btn btn-primary d-inline-flex align-items-center me-0"><i class="isax isax-add me-1 fs-16"></i>Thêm sanh sách</a>
                                   </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">


                                @if (Model.Any())
                                {
                                    foreach(var item in Model)
                                    {
                                        foreach(var itemHotel in item.Hotels)
                                        {
                                            <div class="col-xl-4 col-md-6 d-flex">
                                                <div class="place-item mb-4 flex-fill">
                                                    <div class="place-img">
                                                        <a href="/home/HotelDetail/@itemHotel.HotelID">
                                                            <img src="@(!string.IsNullOrEmpty(itemHotel.img?.FirstOrDefault()?.img) ? itemHotel.img.FirstOrDefault().img : "/assets/img/hotels/hotel-01.jpg")" class="img-fluid" alt="img">


                                                        </a>
                                                        <div class="edit-delete-item d-flex align-items-center">
                                                            <a href="/manager/HotelEdit/@itemHotel.HotelID" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                                            <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="place-content">
                                                        <h5 class="mb-1 text-truncate"><a href="hotel-details.html">@itemHotel.HotelName</a></h5>
                                                        <p class="d-flex align-items-center mb-2"><i class="isax isax-location5 me-2"></i>@itemHotel.Location</p>
                                                        <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                            <h5 class="text-primary text-nowrap me-2">@itemHotel.price VND<span class="fs-14 fw-normal text-default">/ Đêm</span></h5>
                                                            <div class="d-flex align-items-center lh-1">
                                                                <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }


                                <!-- Hotel Grid -->
                              
                                <!-- /Hotel Grid -->
        
                                 
                            

                           @*      <div class="col-md-12">
                                    <!-- Pagination -->
                                    <nav class="pagination-nav">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                                    <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                            <li class="page-item active"><a class="page-link" href="javascript:void(0);">4</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);" aria-label="Next">
                                                    <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- /Pagination -->
                                </div> *@
        
                            </div>
                        </div>
                        <!-- /Hotels List -->
        
              
        
                        <!-- Tour List -->
                        <div class="tab-pane fade" id="Tour-list">
                            <div class="card border-0">
                                <div class="card-body d-flex align-items-center justify-content-between flex-wrap row-gap-2">
                                    <div>
                                        <h5 class="mb-1">Danh sách</h5>
                                        <p>Số lượng niêm yết : 200</p>
                                    </div>
                                   <div>
                                        <a href="/manager/createtour" class="btn btn-primary d-inline-flex align-items-center me-0"><i class="isax isax-add me-1 fs-16"></i>Thêm danh sách</a>
                                   </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                 @if (Model.Any())
                                {
                                    foreach(var item in Model)
                                    {
                                        foreach(var itemHotel in item.Tour)
                                        {
                                             <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="place-item mb-4 flex-fill">
                                        <div class="place-img">
                                            <a href="/Home/TourDetail/@itemHotel.TourID">
                                                            <img src="@(!string.IsNullOrEmpty(itemHotel.img?.FirstOrDefault()?.img) ? itemHotel.img.FirstOrDefault().img : "/assets/img/hotels/hotel-01.jpg")" class="img-fluid" alt="img">
                                                        </a>
                                            <div class="edit-delete-item d-flex align-items-center">
                                                <a href="/Manager/EditTour/@itemHotel.TourID" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                               @*  <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a> *@
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <h5 class="mb-1 text-truncate"><a href="/Home/TourDetail/@itemHotel.TourID">@itemHotel.TourName</a></h5>
                                            <p class="d-flex align-items-center mb-3"><i class="isax isax-location5 me-2"></i>@itemHotel.Location</p>
                                            <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                <div class="d-flex flex-wrap align-items-center me-2">
                                                    <h5 class="text-primary">@itemHotel.price VND<span class="fs-14 text-gray-6 fw-normal"></span></h5>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <!-- /Tour List -->

                        <!-- Flight List -->
                        <div class="tab-pane fade" id="flight-list">
                            <div class="card border-0">
                                <div class="card-body d-flex align-items-center justify-content-between flex-wrap row-gap-2">
                                    <div>
                                        <h5 class="mb-1">Danh sách</h5>
                                        <p>Số lượng niêm yết : 200</p>
                                    </div>
                                   <div>
                                    <a href="add-flight.html" class="btn btn-primary d-inline-flex align-items-center me-0"><i class="isax isax-add me-1 fs-16"></i>Thêm danh sách</a>
                                   </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">

                                <!-- Flight Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="place-item mb-4 flex-fill">
                                        <div class="place-img">
                                            <a href="flight-details.html">
                                                <img src="~/assets/img/flight/flight-09.jpg" class="img-fluid" alt="img">
                                            </a>
                                            <div class="edit-delete-item d-flex align-items-center">
                                                <a href="edit-flight.html" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                                <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <h5 class="text-truncate mb-1"><a href="flight-details.html">Antonov An-32</a></h5>
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="avatar avatar-sm me-2">
                                                    <img src="~/assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                                                </span>
                                                <p class="fs-14 mb-0 me-2">Air India</p>
                                                <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Texas</p>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                <div class="d-flex flex-wrap align-items-center me-2">
                                                    <h5 class="text-primary">500.000 VND <span class="fs-14 text-gray-6 fw-normal">/ ngày</span></h5>
                                                </div>
                                                <div class="d-flex align-items-center lh-1">
                                                    <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Flight Grid -->
        
                                <!-- Flight Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="place-item mb-4 flex-fill">
                                        <div class="place-img">
                                            <a href="flight-details.html">
                                                <img src="~/assets/img/flight/flight-08.jpg" class="img-fluid" alt="img">
                                            </a>
                                            <div class="edit-delete-item d-flex align-items-center">
                                                <a href="edit-flight.html" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                                <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <h5 class="text-truncate mb-1"><a href="flight-details.html">SkyBound 102</a></h5>
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="avatar avatar-sm me-2">
                                                    <img src="~/assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                                                </span>
                                                <p class="fs-14 mb-0 me-2">Indigo</p>
                                                <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Dubai</p>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                <div class="d-flex flex-wrap align-items-center me-2">
                                                    <h5 class="text-primary">600.000 VND <span class="fs-14 text-gray-6 fw-normal">/ ngày</span></h5>
                                                </div>
                                                <div class="d-flex align-items-center lh-1">
                                                    <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Flight Grid -->
        
                                <!-- Flight Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="place-item mb-4 flex-fill">
                                        <div class="place-img">
                                            <a href="flight-details.html">
                                                <img src="~/assets/img/flight/flight-06.jpg" class="img-fluid" alt="img">
                                            </a>
                                            <div class="edit-delete-item d-flex align-items-center">
                                                <a href="edit-flight.html" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                                <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <h5 class="text-truncate mb-1"><a href="flight-details.html">Nimbus 345</a></h5>
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="avatar avatar-sm me-2">
                                                    <img src="~/assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                                                </span>
                                                <p class="fs-14 mb-0 me-2">Indigo</p>
                                                <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Dubai</p>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                <div class="d-flex flex-wrap align-items-center me-2">
                                                    <h5 class="text-primary">300.000 VND <span class="fs-14 text-gray-6 fw-normal">/ ngày</span></h5>
                                                </div>
                                                <div class="d-flex align-items-center lh-1">
                                                    <a href="#active_list" data-bs-toggle="modal" class="d-flex align-items-center text-danger"><i class="isax isax-info-circle me-1"></i>Inactive</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Flight Grid -->
        
                                <!-- Flight Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="place-item mb-4 flex-fill">
                                        <div class="place-img">
                                            <a href="flight-details.html">
                                                <img src="~/assets/img/flight/flight-01.jpg" class="img-fluid" alt="img">
                                            </a>
                                            <div class="edit-delete-item d-flex align-items-center">
                                                <a href="edit-flight.html" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                                <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <h5 class="text-truncate mb-1"><a href="flight-details.html">AstraFlight 215</a></h5>
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="avatar avatar-sm me-2">
                                                    <img src="~/assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                                                </span>
                                                <p class="fs-14 mb-0 me-2">Indigo</p>
                                                <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Frankfurt</p>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                <div class="d-flex flex-wrap align-items-center me-2">
                                                    <h5 class="text-primary">300.000 VND <span class="fs-14 text-gray-6 fw-normal">/ ngày</span></h5>
                                                </div>
                                                <div class="d-flex align-items-center lh-1">
                                                    <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Flight Grid -->
        
                                <!-- Flight Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="place-item mb-4 flex-fill">
                                        <div class="place-img">
                                            <a href="flight-details.html">
                                                <img src="~/assets/img/flight/flight-02.jpg" class="img-fluid" alt="img">
                                            </a>
                                            <div class="edit-delete-item d-flex align-items-center">
                                                <a href="edit-flight.html" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                                <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <h5 class="text-truncate mb-1"><a href="flight-details.html">Cloudrider 789</a></h5>
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="avatar avatar-sm me-2">
                                                    <img src="~/assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                                                </span>
                                                <p class="fs-14 mb-0 me-2">Air India</p>
                                                <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Dallas</p>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                <div class="d-flex flex-wrap align-items-center me-2">
                                                    <h5 class="text-primary">550.000 VND <span class="fs-14 text-gray-6 fw-normal">/ ngày</span></h5>
                                                </div>
                                                <div class="d-flex align-items-center lh-1">
                                                    <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Flight Grid -->
        
                                <!-- Flight Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="place-item mb-4 flex-fill">
                                        <div class="place-img">
                                            <a href="flight-details.html">
                                                <img src="~/assets/img/flight/flight-03.jpg" class="img-fluid" alt="img">
                                            </a>
                                            <div class="edit-delete-item d-flex align-items-center">
                                                <a href="edit-flight.html" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                                <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <h5 class="text-truncate mb-1"><a href="flight-details.html">Aether Express 901</a></h5>
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="avatar avatar-sm me-2">
                                                    <img src="~/assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                                                </span>
                                                <p class="fs-14 mb-0 me-2">Indigo</p>
                                                <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Seoul</p>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                <div class="d-flex flex-wrap align-items-center me-2">
                                                    <h5 class="text-primary">450.000 VND <span class="fs-14 text-gray-6 fw-normal">/ ngày</span></h5>
                                                </div>
                                                <div class="d-flex align-items-center lh-1">
                                                    <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Flight Grid -->
        
                                <!-- Flight Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="place-item mb-4 flex-fill">
                                        <div class="place-img">
                                            <a href="flight-details.html">
                                                <img src="~/assets/img/flight/flight-07.jpg" class="img-fluid" alt="img">
                                            </a>
                                            <div class="edit-delete-item d-flex align-items-center">
                                                <a href="edit-flight.html" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                                <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <h5 class="text-truncate mb-1"><a href="flight-details.html">Voyager 658</a></h5>
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="avatar avatar-sm me-2">
                                                    <img src="~/assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                                                </span>
                                                <p class="fs-14 mb-0 me-2">Air India</p>
                                                <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Sydney</p>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                <div class="d-flex flex-wrap align-items-center me-2">
                                                    <h5 class="text-primary">350.000 VND <span class="fs-14 text-gray-6 fw-normal">/ ngày</span></h5>
                                                </div>
                                                <div class="d-flex align-items-center lh-1">
                                                    <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Flight Grid -->
        
                                <!-- Flight Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="place-item mb-4 flex-fill">
                                        <div class="place-img">
                                            <a href="flight-details.html">
                                                <img src="~/assets/img/flight/flight-04.jpg" class="img-fluid" alt="img">
                                            </a>
                                            <div class="edit-delete-item d-flex align-items-center">
                                                <a href="edit-flight.html" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                                <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <h5 class="text-truncate mb-1"><a href="flight-details.html">Silverwing 505</a></h5>
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="avatar avatar-sm me-2">
                                                    <img src="~/assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                                                </span>
                                                <p class="fs-14 mb-0 me-2">Air India</p>
                                                <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at London</p>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                <div class="d-flex flex-wrap align-items-center me-2">
                                                    <h5 class="text-primary">700.000 VND <span class="fs-14 text-gray-6 fw-normal">/ ngày</span></h5>
                                                </div>
                                                <div class="d-flex align-items-center lh-1">
                                                    <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Flight Grid -->
        
                                <!-- Flight Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="place-item mb-4 flex-fill">
                                        <div class="place-img">
                                            <a href="flight-details.html">
                                                <img src="~/assets/img/flight/flight-05.jpg" class="img-fluid" alt="img">
                                            </a>
                                            <div class="edit-delete-item d-flex align-items-center">
                                                <a href="edit-flight.html" class="me-2 d-inline-flex align-items-center justify-content-center"><i class="isax isax-edit"></i></a>
                                                <a href="#" class="d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-list"><i class="isax isax-trash"></i></a>
                                            </div>
                                        </div>
                                        <div class="place-content">
                                            <h5 class="text-truncate mb-1"><a href="flight-details.html">Altair 333</a></h5>
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="avatar avatar-sm me-2">
                                                    <img src="~/assets/img/icons/airindia.svg" class="rounded-circle" alt="icon">
                                                </span>
                                                <p class="fs-14 mb-0 me-2">Air India</p>
                                                <p class="fs-14 mb-0"><i class="ti ti-point-filled text-primary me-2"></i>1-stop at Los Angeles</p>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between border-top pt-3">
                                                <div class="d-flex flex-wrap align-items-center me-2">
                                                    <h5 class="text-primary">650.000 VND <span class="fs-14 text-gray-6 fw-normal">/ ngày</span></h5>
                                                </div>
                                                <div class="d-flex align-items-center lh-1">
                                                    <a href="#inactive_list" data-bs-toggle="modal" class="d-flex align-items-center"><i class="isax isax-info-circle me-1"></i>Active</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Flight Grid -->
                                
                                <div class="col-md-12">
                                    <!-- Pagination -->
                                    <nav class="pagination-nav">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                                    <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                            <li class="page-item active"><a class="page-link" href="javascript:void(0);">4</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);" aria-label="Next">
                                                    <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- /Pagination -->
                                </div>          
                            </div>
                        </div>
                        <!-- /Flight List -->
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-top">
                <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Pages</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="team.html">Đội ngũ của chúng tôi</a>
                                </li>
                                <li>
                                    <a href="pricing-plan.html">Gói giá</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Settings</a>
                                </li>
                                <li>
                                    <a href="profile-settings.html">Cài đặt</a>
                                </li>
                                <li>
                                    <a href="my-profile.html">Hồ sơ</a>
                                </li>
                                <li>
                                    <a href="agent-listings.html">Danh sách</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Doanh nghiệp</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="about-us.html">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Cơ hội nghề nghiệp</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Blog</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chương trình liên kết</a>
                                </li>
                                <li>
                                    <a href="add-flight.html">Thêm danh sách của bạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Đối tác của chúng tôi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Điểm đến</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="javascript:void(0);">Hawai</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Istanbul</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">San Diego</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Belgium</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Los Angeles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Newyork</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Hỗ trợ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="contact-us.html">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Thông báo pháp lý</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Chính sách quyền riêng tư</a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">Điều khoản và Điều kiện</a>
                                </li>
                                <li>
                                    <a href="chat.html">Hỗ trợ trò chuyện</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chính sách hoàn trả</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget">
                            <h5>Dịch vụ</h5>
                            <ul class="footer-menu">
                                <li>
                                    <a href="hotel-grid.html">Khách sạn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Trình tìm kiếm hoạt động</a>
                                </li>
                                <li>
                                    <a href="flight-grid.html">Tìm kiếm chuyến bay</a>
                                </li>
                                <li>
                                    <a href="tour-grid.html">Thuê kỳ nghỉ</a>
                                </li>
                                <li>
                                    <a href="car-grid.html">Thuê xe</a>
                                </li>
                                <li>
                                    <a href="tour-details.html">Gói kỳ nghỉ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-wrap bg-white">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-xl-3 col-xxl-3">
                            <div class="mb-3 text-center text-xl-start">
                                <a href="index.html" class="d-block footer-logo-light">
                                    <img src="~/assets/img/logo-dark.svg" alt="logo">
                                </a>
                                <a href="index.html" class="footer-logo-dark">
                                    <img src="~/assets/img/logo.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 col-xxl-4">
                            <div class="d-flex align-items-center justify-content-center flex-wrap">
                                <h6 class="fs-14 fw-medium me-2 mb-2">Available on : </h6>
                                <a href="javascript:void(0);" class="d-block mb-3 me-2">
                                    <img src="~/assets/img/icons/googleplay.svg" alt="logo">
                                </a>
                                <a href="javascript:void(0);" class="d-block mb-3">
                                    <img src="~/assets/img/icons/appstore.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-5 col-xxl-5">
                            <div class="d-sm-flex align-items-center justify-content-center justify-content-xl-end">
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start me-0 pe-0 me-sm-3 pe-sm-3 border-end mb-3">
                                    <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0">
                                        <i class="ti ti-headphones-filled fs-24"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Chăm sóc khách hàng</p>
                                        <p class="fw-medium text-dark">+84 393771017</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3">
                                    <span class="avatar avatar-lg bg-secondary rounded-circle flex-shrink-0">
                                        <i class="ti ti-message fs-24 text-gray-9"></i>
                                    </span>
                                    <div class="ms-2">
                                        <p class="mb-1">Gửi email cho chúng tôi</p>
                                        <p class="fw-medium text-dark">
                                            <a href="https://dreamstour.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="fc95929a93bc99849d918c9099d29f9391">[email&#160;protected]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-img">
                    <img src="~/assets/img/bg/footer.svg" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <p class="fs-14">
                                Copyright &copy; 2025. All Rights Reserved, <a href="javascript:void(0);"
                                                                               class="text-primary fw-medium">Golocal</a>
                            </p>
                            <div class="d-flex align-items-center">
                                <ul class="social-icon">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="card-links">
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-01.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-02.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-03.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-04.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-05.svg" alt="img">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/card-06.svg" alt="img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->

     <!-- Inactive Modal -->
     <div class="modal fade" id="inactive_list" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h5 class="mb-3">Inactive Listing</h5>
                        <p class="mb-3">Are you sure you want to mark this listing as inactive and keep it unavailable</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="#" class="btn btn-light me-2">No</a>
                            <a href="agent-listings.html" class="btn btn-primary">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inactive Modal -->

    <!-- Active Modal -->
    <div class="modal fade" id="active_list" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h5 class="mb-3">Active Listing</h5>
                        <p class="mb-3">Are you sure you want to mark this listing as active and keep it available?</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="#" class="btn btn-light me-2">No</a>
                            <a href="agent-listings.html" class="btn btn-primary">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Active Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delete-list" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h5 class="mb-3">Delete Listing</h5>
                        <p class="mb-3">Are you sure you want to delete this listing?</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="#" class="btn btn-light me-2">No</a>
                            <a href="agent-listings.html" class="btn btn-primary">Yes, Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Delete Modal -->

    <!-- Cursor -->
    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>
    <!-- /Cursor -->

    <div class="back-to-top">
		<a class="back-to-top-icon align-items-center justify-content-center d-flex"  href="#top"><i class="fa-solid fa-arrow-up"></i></a>
	</div>

    <!-- Jquery JS -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="~/assets/js/jquery-3.7.1.min.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- Wow JS -->
    <script src="~/assets/js/wow.min.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- Apex JS -->
    <script src="~/assets/plugins/apexchart/apexcharts.min.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- MeanMenu Js -->
    <script src="~/assets/js/jquery.meanmenu.min.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- Swiper Js -->
    <script src="~/assets/plugins/owlcarousel/owl.carousel.min.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- Fancybox JS -->
    <script src="~/assets/plugins/fancybox/jquery.fancybox.min.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- Counter JS -->
    <script src="~/assets/js/jquery.counterup.min.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>
    <script src="~/assets/js/jquery.waypoints.min.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- Sticky Sidebar JS -->
    <script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- Datepicker Core JS -->
    <script src="~/assets/plugins/moment/moment.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- cursor JS -->
    <script src="~/assets/js/cursor.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

    <!-- Script JS -->
    <script src="~/assets/js/script.js" type="b4f4178824cab9d30cf8989a-text/javascript"></script>

<script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="b4f4178824cab9d30cf8989a-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"90d86d4f5bc9ddca","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.1.0","token":"3ca157e612a14eccbb30cf6db6691c29"}' crossorigin="anonymous"></script>
</body>

</html>